@import 'variables';

.font-light {
  font-family: $font-family-body;
  font-weight: 300;
}

.font-book {
  font-family: $font-family-body;
  font-weight: 400;
}

.font-medium {
  font-family: $font-family-emphasis;
  font-weight: 500;
}

.font-bold {
  font-family: $font-family-strong;
  font-weight: 700;
}

.font-black {
  font-family: $font-family-strong;
  font-weight: 900;
}

.font-weight-bold {
  @extend .font-bold;
}
