html {
  font-size: $oncokb-font-font-size;

  div {
    font-size: $oncokb-font-font-size;
  }
}

html,
body,
#root {
  height: 100%;
}

.Main {
  min-height: 100%;
  position: relative;
}

@import '~bootstrap/scss/bootstrap';
@import 'layout';

.orange {
  color: $oncokb-orange;
}
