html {
  font-size: $oncokb-font-font-size;
}

html,
body,
#root {
  height: 100%;
}

.Main {
  min-height: 100%;
  position: relative;
}

@import '~bootstrap/scss/bootstrap';
@import 'layout';

.home {
  .home-page-logo-title {
    font-weight: 500;
    color: $orange;
  }
}
.orange {
  color: $oncokb-orange;
}

.navbar-nav > a {
  line-height: 2.75rem;
  border-bottom: 0.25rem solid $primary;

  &.active {
    border-bottom-color: $oncokb-orange;
  }
}

#account-menu {
  line-height: 2.75rem;
  border-bottom: 0.25rem $primary;
}

.navbar-nav .nav-link {
  padding-left: $navbar-nav-link-padding-x;
  padding-right: $navbar-nav-link-padding-x;
}

.team {
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.news {
  ul {
    padding-left: 2rem;
    list-style: none;
  }

  li {
    margin-bottom: 0.75rem;
  }

  li:before {
    font-family: 'FontAwesome';
    content: '\f0a4';
    margin: 0 0.5rem 0 -1rem;
  }

  ul.bullet li:before {
    content: '\f111';
    font-size: 0.5rem;
    vertical-align: 20%;
  }

  .table {
    margin-bottom: 0;

    ul {
      padding-left: 1rem;
      list-style: none;
    }

    li {
      margin-bottom: 0;
    }

    li:before {
      font-size: 0.875rem;
    }

    th {
      border-top: none;
    }
  }

  img {
    width: 100%;
  }

  //.table {
  //  margin-bottom: 0;
  //  ul {
  //    padding-left: 17px;
  //    list-style: none;
  //  }
  //  li {
  //    margin-bottom: 0;
  //  }
  //  li:before {
  //    font-size: 12px;
  //  }
  //}
  //
  //.table.heme-table {
  //  th, td {
  //    vertical-align: middle;
  //    text-align: center;
  //  }
  //}
}
