@import '~@mskcc/core/utils/font-utilities';
@import 'variables';
html {
  font-size: $oncokb-font-font-size;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2 {
  @include font-gotham('bold');
}

h3,
h4,
h5,
h6 {
  @include font-gotham('medium');
}

b {
  @include font-gotham('medium');
}

.Main {
  min-height: 100%;
  position: relative;
}
@import '~bootstrap/scss/bootstrap';
@import 'font';
@import 'layout';

.nav-tabs > a,
.RRT__tab {
  font-family: 'Gotham Medium';
}

.user-messager-container-button {
  background-color: $oncokb-color-oncogenic;
  border-color: $oncokb-color-oncogenic;
  &:hover {
    background-color: #1762ab;
    border-color: #1762ab;
  }
}

.header {
  .navbar-brand {
  }

  .navbar {
    background-color: $nav-bg-color;
    padding-bottom: 0;

    .navbar-nav {
      & > .nav-item {
        color: white;
        border-bottom: $navbar-item-border-bottom solid $nav-bg-color;

        &.active {
          border-bottom-color: $oncokb-darker-blue;
        }

        &:hover {
          text-decoration: none;
        }
      }

      & > .nav-item:first-line {
        line-height: 2.5rem;
      }

      & .nav-link {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
}

#account-menu {
  line-height: 2.75rem;
  border-bottom: 0.25rem $primary;
}

.team,
.fda-recognition {
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  ol {
    padding-left: 20px;
  }
}

.news {
  ul {
    padding-left: 2rem;
    list-style: none;

    li {
      margin-bottom: 0.75rem;
    }

    li:before {
      font-family: 'FontAwesome';
      content: '\f0a4';
      margin: 0 0.5rem 0 -1.5rem;
    }

    ul.bullet li:before {
      content: '\f111';
      font-size: 0.5rem;
      vertical-align: 20%;
    }
  }

  ol {
    counter-reset: list;
    padding-left: 2rem;
    list-style: none;

    li:before {
      counter-increment: list;
      content: counter(list, decimal) ') ';
      margin: 0 0.5rem 0 -1.7rem;
    }
  }

  .table {
    margin-bottom: 0;

    ul {
      padding-left: 1rem;
      list-style: none;
    }

    li {
      margin-bottom: 0;
    }

    li:before {
      font-size: 0.875rem;
    }

    th {
      border-top: none;
    }
  }

  img {
    width: 100%;
  }
}

.form-check {
  padding-left: 0;
}

.levels-of-evidence {
  .RRT__panel {
    border-width: 1px 0 0;
    padding-left: 0;
    padding-right: 0;
  }
}

fieldset.form-group {
  margin-bottom: 0;
}

.breadcrumb {
  align-items: center;
}

// Change the default checkbox/radio icon to fontawesome to have a more clear message
input[type='checkbox'],
input[type='radio'] {
  display: none;
}
input[type='checkbox'],
input[type='checkbox']:checked,
input[type='radio'],
input[type='radio']:checked {
  + label:before {
    width: 21px;
    letter-spacing: 10px;
    font-family: FontAwesome;
    display: inline-block;
  }
}

input[type='checkbox'] {
  + label:before {
    content: '\f096';
  }
}

input[type='radio'] {
  + label:before {
    content: '\f1db';
  }
}

input[type='checkbox']:checked {
  + label:before {
    content: '\f046';
  }
}

input[type='radio']:checked {
  + label:before {
    content: '\f05d';
  }
}

// Overwrite rc-tooltip styles
.rc-tooltip-inner {
  max-width: 300px;
}
.rc-tooltip {
  opacity: 1 !important;
}
.oncokb-search-overlay {
  .rc-tooltip-inner {
    max-width: 320px !important;
  }
}

// Overwrite react-table styles
.oncokbReactTable.ReactTable {
  .-sort-desc {
    box-shadow: none !important;

    &:before {
      font-family: FontAwesome;
      content: '\f0dd';
      float: right;
    }
  }

  .-sort-asc {
    box-shadow: none !important;

    &:before {
      font-family: FontAwesome;
      content: '\f0de';
      float: right;
    }
  }

  .rt-table {
    .rt-thead {
      .rt-resizable-header-content {
        text-align: left;
        white-space: normal;
        word-break: break-word;
      }
    }

    .rt-tbody {
      .rt-td {
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}

.oncokbReactTable.ReactTable.fixedHeight {
  .rt-table {
    .rt-thead {
      .rt-th:last-child {
        // We fixed header so the scroll bar on the tbody occupies this width causing the header and body misalignment.
        // Adding additional space to the last column of the table to align them.
        margin-right: 15px;
      }
    }
  }
}

.po-tx-table ul {
  padding-left: 20px;
}

.grecaptcha-badge {
  z-index: 1;
}
