@import '~bootstrap/scss/bootstrap';
@import 'variables';

.orange {
  color: $oncokb-orange;
}

.btnLinkText {
  @extend .btn-link;

  &:hover {
    cursor: pointer;
  }
}

.linkOutText {
  textdecoration: 'underscore';
  color: $oncokb-dark-blue;
}

.biggerText {
  font-size: $bigger-default-font-size;
}

// Overwrite react-responsive-tabs
// unassigned the z-index. The z-index makes the tab header higher than the menu in the alteration page
:global(.RRT__tab) {
  z-index: 0 !important;
}
