@mixin sticky-footer($footer-height) {
  .view-wrapper {
    margin: 0 auto (-$footer-height);
    padding: $view-wrapper-default-p-y 0
      ($footer-height + $view-wrapper-default-p-y);
  }
  .footer {
    height: $footer-height;
  }
  .faq-iframe,
  .faq-iframe-high-top {
    position: fixed;
    background: white;
    border: none;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .faq-iframe {
    top: 80px;
    height: calc(100% - 80px);
  }
  .faq-iframe-high-top {
    top: 120px;
    height: calc(100% - 120px);
  }
}

@include media-breakpoint-up(xs) {
  $footer-height: 22rem;
  @include sticky-footer($footer-height);
  .navbar-brand {
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    padding: 1rem 0;
  }

  .navbar-nav > .nav-item {
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0.25rem 0;
  }
  #account-menu > a {
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0.25rem 0;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sticky-panel-relevant-to-header {
    top: 0;
  }
}

@include media-breakpoint-up(sm) {
  $footer-height: 17rem;
  .sticky-panel-relevant-to-header {
    top: 106px;
  }
  @include sticky-footer($footer-height);
}

@include media-breakpoint-up(lg) {
  $footer-height: 12rem;
  @include sticky-footer($footer-height);

  .navbar-nav > .nav-item,
  #account-menu > a {
    padding: 1rem 0.3rem;
    margin: 0;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-nav > .nav-item,
  #account-menu > a {
    padding: 1rem 0.6rem;
    margin: 0;
  }
}
