$view-wrapper-default-p-y: 2rem !default;

@mixin sticky-panel-under-header($header-height) {
  .sticky-panel-relevant-to-header {
    top: $header-height + 3;
    z-index: $zindex-sticky - 10;
  }
}

@mixin sticky-footer($view-wrapper-default-p-y, $footer-height) {
  .view-wrapper {
    margin: 0 auto (-$footer-height);
    padding: $view-wrapper-default-p-y 0
      ($footer-height + $view-wrapper-default-p-y);
  }
  .footer {
    height: $footer-height;
  }
  .faq-iframe,
  .faq-iframe-high-top {
    position: fixed;
    background: white;
    border: none;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .faq-iframe {
    top: 80px;
    height: calc(100% - 80px);
  }
  .faq-iframe-high-top {
    top: 120px;
    height: calc(100% - 120px);
  }
}

@include media-breakpoint-up(xs) {
  $footer-height: 22rem;
  $header-height: 4.5rem;
  @include sticky-footer(1rem, $footer-height);
  @include sticky-panel-under-header($header-height);
  .navbar-brand {
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    padding: 1rem 0;
  }
  .navbar {
    padding-top: 0;
  }

  .navbar-nav > .nav-item {
    line-height: 1.5rem;
  }

  .navbar-nav > .nav-item {
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0.25rem 0;
  }
  #account-menu > a {
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0.25rem 0;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@include media-breakpoint-up(sm) {
  $footer-height: 17rem;
  @include sticky-footer($view-wrapper-default-p-y, $footer-height);
}

@include media-breakpoint-up(lg) {
  $footer-height: 12rem;
  @include sticky-footer($view-wrapper-default-p-y, $footer-height);
  .navbar {
    // add padding to align with nav item border bottom
    padding-top: $navbar-padding-top;
  }

  .navbar-nav > .nav-item {
    line-height: 2rem;
  }

  .navbar-nav > .nav-item,
  #account-menu > a {
    // Force the text in header to two lines
    padding: 1rem 0.6rem;
    margin: 0;
  }
}

@include media-breakpoint-up(md) {
  $header-height: 4.5rem;
  @include sticky-panel-under-header($header-height);
}

@include media-breakpoint-up(xl) {
  .navbar-nav > .nav-item {
    line-height: 2.5rem;
  }
}
