@import '~oncokb-styles/scss/vars';

$oncokb-font-font-size: 14px;

/* Overwrite the bootstrap defaults */
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif,
  serif;
// color overwrite
$blue: $oncokb-dark-blue;
$orange: $oncokb-orange;
$grey: #808080; // grey
$light-grey: #d3d3d3; // light grey
$primary: $blue;
$secondary: $grey;
$warning: #ffc107;
$danger: #dc3545;

$navbar-padding-x: 0;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1150px,
  xl: 1350px,
) !default;

$container-max-widths: (
  sm: 576px,
  md: 1150px,
  lg: 1350px,
  xl: 1450px,
) !default;

$view-wrapper-default-p-y: 2rem;

$bigger-default-font-size: 1.2rem;
