@import '~oncokb-styles/scss/vars';

$oncokb-font-font-size: 14px;

/* Overwrite the bootstrap defaults */
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif, serif;
// color overwrite
$blue: $oncokb-dark-blue;
$orange: $oncokb-orange;
$grey: #808080; // grey
$light-grey: #d3d3d3; // light grey
$primary: $blue;
$secondary: $grey;

$navbar-padding-x: 0;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1010px,
  xl: 1450px
) !default;

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1450px
) !default;

$view-wrapper-default-p-y: 2rem;
