@import '~oncokb-styles/scss/vars';

$oncokb-font-font-size: 15px;
$oncokb-blue: #0968c3;
/* Overwrite the bootstrap defaults */
$font-family-sans-serif: 'Gotham Book', serif;

$font-family-sans-serif-bold: 'Gotham Bold', serif;
// color overwrite
$blue: $oncokb-blue;
$grey: #808080; // grey
$light-grey: #d3d3d3; // light grey
$pale-blue-grey: #f0f7ff; // msk pale blue grey
$pale-warm-grey: #fbf9f7; // msk pale warm grey
$primary: $oncokb-blue;
$secondary: $grey;
$warning: #ffc107;
$danger: #dc3545;
$inactive: #f2f4f8; // from design team
$black: #212529;

// Request status colors
$request-status-approved-bg: #d4edda;
$request-status-approved-text: #155724;
$request-status-approved-border: #c3e6cb;
$request-status-pending-bg: #fff3cd;
$request-status-pending-text: #856404;
$request-status-pending-border: #ffeeba;
$request-status-rejected-bg: #f8d7da;
$request-status-rejected-text: #721c24;
$request-status-rejected-border: #f5c6cb;
$request-status-unknown-bg: #e2e3e5;
$request-status-unknown-text: #383d41;
$request-status-unknown-border: #d6d8db;

$link-hover-color: $oncokb-darker-blue;
$nav-bg-color: $oncokb-blue;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-margin-bottom: 0.5rem;

$navbar-padding-x: 0;

$navbar-item-border-bottom: 0.5rem;
$navbar-padding-top: $navbar-item-border-bottom;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1050px,
  xl: 1413px,
) !default;

// we only need to define the max width for xl, smaller size will use the fluid width.
$container-max-widths: (
  xl: 1500px,
) !default;

$bigger-default-font-size: 1.2rem;

$default-box-shadow: 0px 0.75px 2px 0px rgba(0, 22, 65, 0.1),
  0px 1.5px 4px 0px rgba(0, 22, 65, 0.1), 0px 3px 8px 0px rgba(0, 22, 65, 0.1);
