.license {
    .highlight {
        text-decoration: underline;
        font-weight: bold;
    }
    ul {
        padding-left: 40px;
        li {
            line-height: 30px;
        }
    }
    ul > li {
        list-style-type: lower-roman;
        padding-left: 10px;
    }
    ul > li > ul > li {
        list-style-type: lower-latin;
        padding-left: 10px;
    }
}
