@import "vars";

.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    padding: 10px 0;
    .search-box {
        .loading {
            top: 20px;
        }
    }
    .search-icon-rect {
        padding: 13px;
        width: 50px;
        height: 50px;
        color: white;
        float: right;
        background: $primary-color;
        i {
            font-size: 20px;
            margin: 0 10px;
        }
    }
}

.search-icon:hover {
    width: 400px;
}
