/* ----- Fonts ----- */

@mixin gotham-extra-light{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 200;
  font-style: normal;
}
@mixin gotham-extra-light-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 200;
  font-style: italic;
}
@mixin gotham-light{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 300;
  font-style: normal;
}
@mixin gotham-light-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 300;
  font-style: italic;
}
@mixin gotham-book{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 400;
  font-style: normal;
}
@mixin gotham-book-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 400;
  font-style: italic;
}
@mixin gotham-medium{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 500;
  font-style: normal;
}
@mixin gotham-medium-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 500;
  font-style: italic;
}
@mixin gotham-bold{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 700;
  font-style: normal;
}
@mixin gotham-bold-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 700;
  font-style: italic;
}
@mixin gotham-black{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 800;
  font-style: normal;
}
@mixin gotham-black-italic{
  font-family: 'Gotham SSm A', 'Gotham SSm B', $font-sans;
  font-weight: 800;
  font-style: italic;
}

@mixin chronicle-light{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin chronicle-light-italic{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin chronicle-book{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin chronicle-book-italic{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin chronicle-medium{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin chronicle-medium-italic{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 500;
  font-style: italic;
}

@mixin chronicle-bold{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin chronicle-bold-italic{
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', $font-serif;
  font-weight: 600;
  font-style: italic;
}

/* ---- Font Instances --- */
// To Do - prefix mixins with "font".
@mixin supertitle {
  @include gotham-medium();
  text-transform: uppercase;
  margin:0px;
  padding:0px;
  color: $pc; // Default to patients and caregivers color.
  // Assign specific segment color.
  @each $segment in $segments {
    .#{ map-get($segment,segmentSlug) }-l & {
         color: map-get($segment,segmentColor);
    }
  }
}

.supertitle {
  @include supertitle;
}

@mixin font-content-title {
  @include chronicle-book();
  @include rem(3);
  line-height: 1.2;
  padding: 0px;
  margin: 0 0 15px 0;
}

@mixin font-caption {
  @include rem(1.1);
  color: $dark-grey-copy;
}

@mixin font-hero-heading-sans {
  @include gotham-medium;
  @include rem(2);
  line-height: 1.4;
  color: $pure-white;
}

@mixin font-hero-heading-serif {
  @include chronicle-light;
  @include rem(2);
  line-height: 1.4;
  color: $pure-white;
}

@mixin font-hero-desc-sans-small {
  @include gotham-light;
  @include rem(1.4);
  color: $pure-white;
  @include respond-to($screen-md-min) {
    @include rem(1.7);
  }
}

/* ---- Placeholders ----- */

%container-heading {
  @include gotham-medium;
  @include rem(2);
  margin: 0 0 5px 15px;
}
