
.actionable-genes {
  button:focus {
    outline: 0 !important;
  }

  .btn-default.active, .btn-default:hover {
    background-color: rgba(141, 192, 219, .25) !important;
    border-color: rgba(141, 192, 219, .25) !important;
  }

  .btn-default:not(.active):focus {
    background-color: #fff !important;
    border-color: #ccc !important;
  }

  .filter {
    display: flex;
    align-items: center;
  }

  .reset-filter:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .gene-column {
    display: flex;
  }
  .level-icon-image {
    margin: auto;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    line-height: 1.428571429;
    background-image: url("../resources/images/levels_colors_v3_06202019.png");
    -webkit-background-size: 200px;
    background-size: 200px;
    display: block !important;

    &.level-1 {
      background-position: -15px -21px;
    }

    &.level-2A {
      background-position: -40px -21px;
    }

    &.level-2B {
      background-position: -65px -21px;
    }

    &.level-3A {
      background-position: -90px -21px;
    }

    &.level-3B {
      background-position: -115px -21px;
    }

    &.level-4 {
      background-position: -140px -21px;
    }

    &.level-R1 {
      background-position: -15px -51px;
    }

    &.level-R2 {
      background-position: -40px -51px;
    }

    &.level-R3 {
      background-position: -65px -51px;
    }

    &.level-2 {
      background-position: -90px -51px;
    }

    &.level-3 {
      background-position: -115px -51px
    }

  }

  .fixed-filter {
    display: block;
    top: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 5;
    background: white;
    padding-top: 15px;
  }

  .row {
    margin-bottom: 15px !important;
  }

  .ui-select-match {
    .glyphicon-remove {
      line-height: 18px !important;
    }

    a:focus {
      text-decoration: none !important;
      outline: 0 !important;
    }
  }

  .ui-select-multiple input.ui-select-search {
    width: 100% !important;
    position: absolute;
  }

  .ui-select-match-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;

    span {
      display: inline !important;
    }

    &.ui-select-allow-clear {
      padding-right: 0;
    }
  }

  // let the matched results shift to second row if the text is too long
  .ui-select-choices-row > span {
    white-space: normal !important;
    word-break: break-word;
  }

  .loading-div {
    text-align: center;
    margin-top: 20px;
  }

  .main-level {
    .level-name {
      font-size: 16px;
    }

    .level-desc {
      font-size: 12px;
      color: black;
    }

    .gene-number {
      font-size: 13px;
    }
  }
}
