
.actionable-genes {
  button:focus {
    outline: 0 !important;
  }

  .btn-default.active, .btn-default:hover  {
    background-color: rgba(141, 192, 219, .25) !important;
    border-color: rgba(141, 192, 219, .25) !important;
  }

  .btn-default:not(.active):focus {
    background-color: #fff !important;
    border-color: #ccc !important;
  }

  .filter {
    display: flex;
    align-items: center;
  }

  .reset-filter:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .fixed-filter {
    display: block;
    top: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 5;
    background: white;
    padding-top: 15px;
  }

  .row {
    margin-bottom: 15px !important;
  }

  .ui-select-match {
    .glyphicon-remove {
      line-height: 18px !important;
    }

    a:focus {
      text-decoration: none !important;
      outline: 0 !important;
    }
  }

  .ui-select-multiple input.ui-select-search {
    width: 100% !important;
    position: absolute;
  }

  .ui-select-match-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;

    span {
      display: inline !important;
    }

    &.ui-select-allow-clear {
      padding-right: 0;
    }
  }

  // let the matched results shift to second row if the text is too long
  .ui-select-choices-row > span {
    white-space: normal !important;
    word-break: break-word;
  }

  .loading-div {
    text-align: center;
    margin-top: 20px;
  }

  .main-level {
    .level-name {
      font-size: 16px;
    }

    .level-desc {
      font-size: 12px;
      color: black;
    }

    .gene-number {
      font-size: 13px;
    }
  }
}
