/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 24, 2016, 3:17:05 PM
    Author     : zhx828
*/

.data-access {
  label {
    color: #000;
    font-size: 14px;
  }
  .swagger-ui .operation .content label {
    height: 30px;
    line-height: 30px;
  }
}
