/*
    Created on : May 24, 2016, 3:17:05 PM
    Author     : zhx828
*/

.data-access {
  label {
    color: #000;
    font-size: 14px;
  }
  .swagger-ui .operation .content label {
    height: 20px;
  }
  .header {
    width: 100%;
    display: inline-table;
    .title {

    }
    .swagger {
      font-size: 15px;
      color: grey;
      a, a:hover {
        color: grey;
      }
    }
  }
  .swagger {
    .api-name {
      display: none;
    }
  }
  input[type=text] {
    margin-bottom: 0;
    height: 20px;
  }
  .swagger-ui {
    table td {
      padding: 10px 5px 5px 5px;
    }
  }
}
