/* Styles for gene page */

.gene {
  margin-top: 50px;
  .top {
    font-size: 15px;
  }
  .gene-background-info-wrapper {
    font-style: italic;
    .gene-more-info-icon, .gene-less-info-icon {
      margin-left: 5px;
    }
  }
  .gene-background-info-wrapper:hover, .gene-background-info-wrapper:focus {
    cursor: pointer;
  }

  .gene-addition {
    margin-bottom: 20px;
    font-size: 17px;
    .isoform {
      font-size: 15px;
      color: grey;
    }
  }

  .histogram-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
  }

  .mutation-mapper-title {
    position: absolute;
    top: 0;
    font-weight: 500;
    max-width: 400px;
    @media only screen and (min-width: 500px) {
      max-width: calc(100% - 300px);
    }
  }

  .gene-table {
    td:first-child, th {
      white-space: nowrap;
    }
    input[type=search] {
      border-color: $primary-color;
      font-size: 14px;
    }
    input[type=search]:focus {
      border-bottom-color: $secondary-color;
      box-shadow: 0 1px 0 0 $secondary-color;
    }
    .dataTables_filter {
      label {
        white-space: nowrap;
      }
      input[type=search] {
        width: auto;
      }
    }
    .gene-evidence-td-span {
      white-space: nowrap;
    }
  }

  .gene-title {
    font-size: 40px;
  }

  .mutation-details-content {
    margin-left: 0;
    min-width: 200px;
  }

  input.diagram-y-axis-limit-input {
    width: 50px;
    text-align: center;
    background: white;
    border: none;
  }
  .mutation-diagram-body {
    float: left;
  }
  .mutation-diagram-toolbar {
    float: right;
    .btn-xs {
      height: 24px;
    }
  }
  .noteAlign {
    max-width: 700px;
    font-style: italic;
    font-size: 12px;
    position: relative;
    top: 10px;
    z-index: 100
  }
  .iconSize {
    font-size: 10px;
  }
}
