/* Styles for genes page */

.genes {
  .level-title {
    margin-left: 10px;
  }
  .level-item {
    margin: 3px 10px;
    white-space: nowrap;
    float: left;
    transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  .level-item:hover {
    border-bottom-color: $primary-color;
  }
  .table tbody td:first-child {
    text-decoration: underline;
  }
  .table tbody td:first-child:hover {
    cursor: pointer;
  }
}
