/* Styles for gene page */

.gene {
  margin-top: 50px;
  .gene-background-info-wrapper {
    font-style: italic;
    .gene-more-info-icon, .gene-less-info-icon {
      margin-left: 5px;
    }
  }
  .gene-background-info-wrapper:hover, .gene-background-info-wrapper:focus {
    cursor: pointer;
  }

  .histogram-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .mutation-mapper-title {
    position: absolute;
    top: 0;
    font-weight: 500;
    max-width: calc(100% - 300px);
  }

  .gene-table {
    td:first-child, th {
      white-space: nowrap;
    }
    input[type=search] {
      border-color: $dark-blue;
      font-size: 14px;
    }
    input[type=search]:focus {
      border-bottom-color: $orange;
      box-shadow: 0 1px 0 0 $orange;
    }
    .dataTables_filter {
      label {
        white-space: nowrap;
      }
      input[type=search] {
        width: auto;
      }
    }
    .gene-evidence-td-span {
      white-space: nowrap;
    }
  }

  .gene-title {
    font-size: 40px;
  }

  .mutation-details-content {
    margin-left: 0;
  }

  input.diagram-y-axis-limit-input {
    width: 50px;
    text-align: center;
    background: white;
    border: none;
  }
  .mutation-diagram-body {
    float: left;
  }
  .mutation-diagram-toolbar {
    float: right;
    .btn-xs {
      height: 24px;
    }
  }
}
