/* Styles for home page */

.main-oncokb-header {
    p {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    search-box .dropdown-menu {
        width: calc(100% - 30px);
    }

    .logo {
        .row {
            margin-bottom: 0;
        }
        .grid {
            padding-bottom: 5px;
        }
    }

    .number {
        .row {
            margin-bottom: 40px;
        }
        .item {
            text-align: center;
            .number {
                padding-top: 20px;
                font-weight: bold;
                font-size: 35px;
                border-bottom: 1px solid $secondary-color;
            }
            .category {
            }
        }
    }

    .number.gene > a {
        color: black;
    }

    .number.gene > a:hover {
        color: $primary-color;
    }

    .has-inside-grid {
        padding-left: 0;
        padding-right: 0;
    }

    .tag-line {
        margin-bottom: 30px;
        font-weight: normal;
        text-align: center;
        .level-1 {
            color: $secondary-color;
            font-weight: 500;
        }
        .level-2 {
            color: grey;
        }
    }

    .levels {
        :focus {
            outline: none;
        }
    }

    .logo-wrapper {
        margin: 0 auto;
        @media screen and (max-width: $range-max-xm-width) {
            width: 200px;
            img {
                width: 200px;
            }
        }
        @media screen and (max-width: $range-max-sm-width) and (min-width: $range-min-sm-width) {
            width: 320px;
            img {
                width: 320px;
            }
        }
        @media screen and (min-width: $range-min-width) {
            width: 400px;
            img {
                width: 400px;
            }
        }
    }

    .main-level {
        margin-bottom: 15px;
        .button {
            margin: auto;
            width: 160px;
            font-weight: bold;
            text-align: center;
        }
        .level-name {
            font-size: 22px;
        }
        .level-desc {
            font-size: 15px;
            color: black;
        }
        .gene-number {
            font-size: 18px;
        }
        .level-1 {
            color: $level-1;
            //border-image: url('/resources/images/level-1-40px.png') 0 0 0 40 stretch;
        }
        .level-2 {
            color: $level-2A;
        }
        .level-3 {
            color: $level-3A;
        }
        .level-4 {
            color: $level-4;
        }
        .hoverStyle a:hover {
            color: #1c75cd;
        }
    }

    .citation {
        text-align: center;
        margin-bottom: 0;
        a {
            font-weight: bold;
        }
    }

    #canvas-container {
        width: 100%;
        position: relative;
    }

    #canvas-hover {
        position: absolute;
        border: 2px solid #fff;
        box-shadow: 0 0 4px 0 #008;
        padding: 2px;
        margin: -4px 0 0 -4px;
        pointer-events: none;
        border-radius: 0.5em;
    }

    #canvas-hover-label {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        color: #333;
        margin-top: 6px;
        padding: 0 0.5em;
        border-radius: 0.5em;
        font-size: 18px;
        border: 2px solid black;

        white-space: nowrap;
    }
}
