@media only screen {
  body {
    padding-top: 70px;
  }
}

@media only screen and (min-width: $range-min-width) {
  .container {
    width: 95%;
    max-width: 1400px;
  }
  .about, .team, .actionable-genes, .license, .news, .data-access  {
    width: 95%;
  }
  .level-page {
    width: 80%;
  }
  .about .about-process {
    width: 90%;
  }
}

@media only screen and (max-width: $range-max-sm-width) {
  .container {
    width: 100%;
  }
  .about, .team, .level-page, .actionable-genes, .license, .news, .data-access {
    width: 100%;
  }
  .about .about-process {
    width: 100%;
  }
  .scrolled-box {
    .subNav {
      span.item {
        font-size: 20px;
      }
    }
  }
  .subNav {
    span.item {
      font-size: 20px;
    }
  }
}

@media (min-width: $range-min-sm-width) {
  .main-oncokb-header {
    margin-top: 20px;
    .tag-line {
      .level-1 {
        font-size: 20px;
      }
      .level-2 {
        font-size: 15px;
      }
    }
  }
    .scrolled-box {
        .subNav {
            span.item {
                font-size: 22px;
            }
        }
    }
    .subNav {
        span.item {
            font-size: 24px;
        }
    }
}
@media (min-width: $range-max-xm-width)  {
  .actionable-genes {
    .result-table {
      margin-top: 140px
    }
    .col-sm-2, .col-sm-4 {
      &:first-child {
        padding-left: 15px !important;
      }

      &:not(:first-child) {
        padding-left: 5px !important;
      }
    }

    .col-sm-2, .col-sm-4 {
      &:last-child {
        padding-right: 15px !important;
      }

      &:not(:last-child) {
        padding-right: 5px !important;
      }
    }
  }
}

@media (max-width: $range-max-xm-width) {
  $footer-height: 300px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
  .parentCompany {
    display: none;
  }
  .subNav.navbar-fixed-top {
    top: 0;
  }
  .mskcc-icon {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .navbar-brand {
    padding: 15px;
  }
  .main-oncokb-header {
    margin-top: 10px;
    .tag-line {
      .level-1 {
        font-size: 18px;
      }
      .level-2 {
        font-size: 13px;
      }
    }
  }
  .actionable-genes {
    .result-table {
      margin-top: 280px
    }
  }
}

@media (max-width: $range-max-sm-width) and (min-width: $range-min-sm-width) {
  $footer-height: 180px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
  .navbar-brand {
    padding: 15px 15px 15px 0;
  }
}

@media (min-width: $range-min-width) {
  $footer-height: 180px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
  .navbar-brand {
    padding: 15px;
  }
}

@media (min-width: $range-min-width) {
  .navbar-nav > li > a, .search-icon .search-icon-rect {
    padding: 15px 12px;
  }
}

@media (max-width: $range-max-sm-width) and (min-width: $range-min-sm-width) {
  .navbar-nav > li > a, .search-icon .search-icon-rect {
    padding: 15px 10px;
  }
}

@media (max-width: 1120px) {
  .navbar-nav {
    width: calc(100% - 165px);
  }
  .mskcc-icon {
    display: none;
  }
  .mskcc-logo {
    display: none;
  }
}

@media (max-width: 1050px) and (min-width: $range-min-sm-width) {
  .navbar-nav > li > a, .search-icon .search-icon-rect {
    padding: 15px 0px;
  }
  .navbar-nav > li > a > span {
    padding: 0 5px;
  }
  .navbar-nav > li:not(:nth-child(8)) > a > span {
    border-right: 1px solid $darker-blue;
  }
}

@media (min-width: $range-min-sm-width) {
  .menu-toggle, .menu-toggle-search-icon {
    display: none;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

@media (max-width: $range-max-width) and (min-width: 1120px) {
  .navbar-nav {
    width: calc(100% - 165px - 63px);
  }
  .mskcc-icon {
    display: block;
  }
  .mskcc-logo {
    display: none;
  }
}

@media (min-width: $range-min-lg-width) {
  .navbar-nav {
    width: calc(100% - 165px - 251px);
  }
  .mskcc-logo {
    display: block;
  }
  .mskcc-icon {
    display: none;
  }

}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-sans;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.footer {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #737373;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  a {
    color: white;
    border-right: 0.5px solid #fff;
    padding: 0 5px;
  }
  a:last-child {
    border: 0;
  }
  .warning-usage-terms {
      font-size: 12px;
      .usage-terms-linkout {
          color: $oncokb-orange;
      }
  }
  .footer-row-2 {
    line-height: 50px;
    margin-bottom: 0;
  }
  .mskcc-footer-logo0-wrapper {
    height: 45px;
  }
  .mskcc-footer-logo {
    height: 45px;
  }
  .mskcc {
    padding: 0;
  }
    .citation {
        margin-bottom: 10px;
      a {
        color: $oncokb-orange;
        text-decoration: underline;
      }
    }
}
