@media only screen {
  body {
    padding-top: 70px;
  }
}

@media only screen and (min-width: $range-min-width) {
  .container {
    width: 90%;
  }
  .about, .team, .actionable-genes, .license {
    width: 90%;
  }
  .level-page {
    width: 80%;
  }
  .about .about-poster {
    width: 80%;
  }
}

@media only screen and (max-width: $range-max-sm-width) {
  .container {
    width: 100%;
  }
  .about, .team, .level-page, .actionable-genes, .license {
    width: 100%;
  }
  .about .about-poster {
    width: 100%;
  }
}

@media (min-width: $range-min-sm-width) {
  .main-oncokb-header {
    margin-top: 40px;
    .tag-line {
      .level-1 {
        font-size: 20px;
      }
      .level-2 {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: $range-max-xm-width) {
  $footer-height: 315px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
  .parentCompany {
    display: none;
  }
  .subNav.navbar-fixed-top {
    top: 0;
  }
  .mskcc-icon {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .navbar-brand {
    padding: 15px 10px 15px 25px;
  }
  .main-oncokb-header {
    margin-top: 10px;
    .tag-line {
      .level-1 {
        font-size: 18px;
      }
      .level-2 {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: $range-max-sm-width) and (min-width: $range-min-sm-width) {
  $footer-height: 255px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
}

@media (min-width: $range-min-width) {
  $footer-height: 150px;
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto (-$footer-height);
    /* Pad bottom by footer height */
    padding: 20px 0 $footer-height;
  }
  .footer {
    height: $footer-height;
  }
}

@media (max-width: 900px) and (min-width: 800px){
  .navbar-nav > li > a {
    padding: 15px 6px;
  }
}

@media (max-width: 800px) and (min-width: $range-min-sm-width) {
  .navbar-nav > li > a {
    padding: 15px 0px;
  }
  .navbar-nav > li > a > span{
    padding: 0 3px;
  }
  .navbar-nav > li:not(:last-child) > a > span{
    border-right: 1px solid $darker-blue;
  }
}

@media (min-width: $range-min-sm-width) {
  .menu-toggle {
    display: none;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-brand {
    padding: 15px 10px;
  }
}

@media (max-width: $range-max-width) and (min-width: $range-min-sm-width) {
  .mskcc-icon {
    display: block;
  }
  .mskcc-logo {
    display: none;
  }
}

@media (min-width: $range-min-lg-width) {
  .mskcc-logo {
    display: block;
  }
  .mskcc-icon {
    display: none;
  }

}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-sans;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.footer {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #737373;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  a {
    color: white;
    border-right: 0.5px solid #fff;
    padding: 0 5px;
  }
  a:last-child {
    border: 0;
  }
  .footer-row-2 {
    line-height: 50px;
    margin-bottom: 0;
  }
  .mskcc-footer-logo0-wrapper {
    height: 45px;
  }
  .mskcc-footer-logo {
    height: 45px;
  }
  .mskcc {
    padding: 0;
  }
}
