.news {
    ul {
        padding-left: 30px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
    }
    li:before {
        font-family: 'FontAwesome';
        content: '\f0a4';
        margin: 0 5px 0 -15px;
    }
    ul.bullet li:before {
      content: '\f111';
      font-size: 8px;
      vertical-align: 20%;
    }
    .table {
        margin-bottom: 0;
        ul {
            padding-left: 17px;
            list-style: none;
        }
        li {
            margin-bottom: 0;
        }
        li:before {
            font-size: 12px;
        }
    }

  .table.heme-table {
    th, td {
      vertical-align: middle;
      text-align: center;
    }
  }
  .newly-added-genes {
    display: flex;
    flex-wrap: wrap;
    .gene {
      margin: 5px;
    }
  }
}
