.search-box {
    input[type=search] {
        text-align: left;
        display: block;
        width: 100%;
        height: 50px;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.428571429;
        color: #555555;
        background: #fff none;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    input[type=search]:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        border-color: $secondary-color;
    }
    input[type=search][aria-expanded=true] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .row {
        margin-bottom: 40px;
    }
    .btn {
        background-color: white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-left: 0;
        border-left: 0;
        height: 50px;
    }
    .dropdown-menu {
        margin: -1px 0 0;
        width: calc(100% - 30px);
        border-radius: 0 0 5px 5px;
        text-align: left;
        max-height: 230px;
        overflow-y: scroll;
        li.active {
            color: white;
            background-color: $oncokb-orange;
            cursor: pointer;
            .alias {
                color: white;
            }
        }

    }
    ::-webkit-input-placeholder {
        text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: center;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        text-align: center;
    }

    :-ms-input-placeholder {
        text-align: center;
    }

    .loading {
        position: absolute;
        right: 20px;
        top: 10px;
        color: $oncokb-orange;
    }
}

.search-box-template {
    margin: 3px 5px;
    padding: 3px 5px;
    line-height: 25px;
    .search-box-alias, .search-box-annotation {
        color: grey;
        font-size: 13px;
        line-height: 15px;
    }
    .search-box-alias {
        font-weight: 300;
        font-style: italic;
    }
    .search-box-variant {
        .match {
            margin-bottom: 3px;
            width: 100%;
            height: 22px;
            .search-box-gene-variant {
                float: left;
                height: 16px;
                line-height: 16px;
                margin-top: 6px;
            }
            .oncogenic-icon-image {
                float: left;
                margin-left: 5px;
                width: 24px;
                height: 22px;
                line-height: 22px;
                background-image: url("../resources/images/oncogenic_v2_09302016.png");
                -webkit-background-size: 200px;
                background-size: 200px;
                display: block !important;
            }
            .no-annotation {
                float: right
            }
        }

        .oncogenic-icon-image.level1.oncogenic {
            background-position: -13px -14px;
        }

        .oncogenic-icon-image.level2A.oncogenic {
            background-position: -38px -14px;
        }

        .oncogenic-icon-image.level2B.oncogenic {
            background-position: -63px -14px;
        }

        .oncogenic-icon-image.level3A.oncogenic {
            background-position: -88px -14px;
        }

        .oncogenic-icon-image.level3B.oncogenic {
            background-position: -113px -14px;
        }

        .oncogenic-icon-image.level4.oncogenic {
            background-position: -138px -14px;
        }

        .oncogenic-icon-image.levelR1.oncogenic {
            background-position: -13px -44px;
        }

        .oncogenic-icon-image.levelR2.oncogenic {
            background-position: -38px -44px;
        }

        .oncogenic-icon-image.levelR3.oncogenic {
            background-position: -63px -44px;
        }

        .oncogenic-icon-image.level1R.oncogenic {
            background-position: -13px -74px;
        }

        .oncogenic-icon-image.level2AR.oncogenic {
            background-position: -38px -74px;
        }

        .oncogenic-icon-image.level2BR.oncogenic {
            background-position: -63px -74px;
        }

        .oncogenic-icon-image.level3AR.oncogenic {
            background-position: -88px -74px;
        }

        .oncogenic-icon-image.level3BR.oncogenic {
            background-position: -113px -74px;
        }

        .oncogenic-icon-image.level4R.oncogenic {
            background-position: -138px -74px;
        }

        .oncogenic-icon-image.level1.likely-neutral {
            background-position: -13px -104px;
        }

        .oncogenic-icon-image.level2A.likely-neutral {
            background-position: -38px -104px;
        }

        .oncogenic-icon-image.level2B.likely-neutral {
            background-position: -63px -104px;
        }

        .oncogenic-icon-image.level3A.likely-neutral {
            background-position: -88px -104px;
        }

        .oncogenic-icon-image.level3B.likely-neutral {
            background-position: -113px -104px;
        }

        .oncogenic-icon-image.level4.likely-neutral {
            background-position: -138px -104px;
        }

        .oncogenic-icon-image.levelR1.likely-neutral {
            background-position: -13px -134px;
        }

        .oncogenic-icon-image.levelR2.likely-neutral {
            background-position: -38px -134px;
        }

        .oncogenic-icon-image.levelR3.likely-neutral {
            background-position: -63px -134px;
        }

        .oncogenic-icon-image.level1R.likely-neutral {
            background-position: -13px -164px;
        }

        .oncogenic-icon-image.level2AR.likely-neutral {
            background-position: -38px -164px;
        }

        .oncogenic-icon-image.level2BR.likely-neutral {
            background-position: -63px -164px;
        }

        .oncogenic-icon-image.level3AR.likely-neutral {
            background-position: -88px -164px;
        }

        .oncogenic-icon-image.level3BR.likely-neutral {
            background-position: -113px -164px;
        }

        .oncogenic-icon-image.level4R.likely-neutral {
            background-position: -138px -164px;
        }

        .oncogenic-icon-image.level1.unknown-oncogenic {
            background-position: -13px -194px;
        }

        .oncogenic-icon-image.level2A.unknown-oncogenic {
            background-position: -38px -194px;
        }

        .oncogenic-icon-image.level2B.unknown-oncogenic {
            background-position: -63px -194px;
        }

        .oncogenic-icon-image.level3A.unknown-oncogenic {
            background-position: -88px -194px;
        }

        .oncogenic-icon-image.level3B.unknown-oncogenic {
            background-position: -113px -194px;
        }

        .oncogenic-icon-image.level4.unknown-oncogenic {
            background-position: -138px -194px;
        }

        .oncogenic-icon-image.levelR1.unknown-oncogenic {
            background-position: -13px -224px;
        }

        .oncogenic-icon-image.levelR2.unknown-oncogenic {
            background-position: -38px -224px;
        }

        .oncogenic-icon-image.levelR3.unknown-oncogenic {
            background-position: -63px -224px;
        }

        .oncogenic-icon-image.level1R.unknown-oncogenic {
            background-position: -13px -254px;
        }

        .oncogenic-icon-image.level2AR.unknown-oncogenic {
            background-position: -38px -254px;
        }

        .oncogenic-icon-image.level2BR.unknown-oncogenic {
            background-position: -63px -254px;
        }

        .oncogenic-icon-image.level3AR.unknown-oncogenic {
            background-position: -88px -254px;
        }

        .oncogenic-icon-image.level3BR.unknown-oncogenic {
            background-position: -113px -254px;
        }

        .oncogenic-icon-image.level4R.unknown-oncogenic {
            background-position: -138px -254px;
        }

        .oncogenic-icon-image.level1.no-info-oncogenic {
            background-position: -13px -284px;
        }

        .oncogenic-icon-image.level2A.no-info-oncogenic {
            background-position: -38px -284px;
        }

        .oncogenic-icon-image.level2B.no-info-oncogenic {
            background-position: -63px -284px;
        }

        .oncogenic-icon-image.level3A.no-info-oncogenic {
            background-position: -88px -284px;
        }

        .oncogenic-icon-image.level3B.no-info-oncogenic {
            background-position: -113px -284px;
        }

        .oncogenic-icon-image.level4.no-info-oncogenic {
            background-position: -138px -284px;
        }

        .oncogenic-icon-image.levelR1.no-info-oncogenic {
            background-position: -13px -314px;
        }

        .oncogenic-icon-image.levelR2.no-info-oncogenic {
            background-position: -38px -314px;
        }

        .oncogenic-icon-image.levelR3.no-info-oncogenic {
            background-position: -63px -314px;
        }

        .oncogenic-icon-image.level1R.no-info-oncogenic {
            background-position: -13px -344px;
        }

        .oncogenic-icon-image.level2AR.no-info-oncogenic {
            background-position: -38px -344px;
        }

        .oncogenic-icon-image.level2BR.no-info-oncogenic {
            background-position: -63px -344px;
        }

        .oncogenic-icon-image.level3AR.no-info-oncogenic {
            background-position: -88px -344px;
        }

        .oncogenic-icon-image.level3BR.no-info-oncogenic {
            background-position: -113px -344px;
        }

        .oncogenic-icon-image.level4R.no-info-oncogenic {
            background-position: -138px -374px;
        }

        .oncogenic-icon-image.oncogenic {
            background-position: -13px -374px;
        }

        .oncogenic-icon-image.likely-neutral {
            background-position: -38px -374px;
        }

        .oncogenic-icon-image.unknown-oncogenic {
            background-position: -63px -374px;
        }

        .oncogenic-icon-image.vus {
            background-position: -88px -374px;
        }

        .oncogenic-icon-image.no-info-oncogenic {
            background-position: -113px -374px;
        }
    }
}
