.team {
  li {
    margin-bottom: 6px;
    line-height: 18px;
  }
  ul li span {
    font-size: 12px;
    color: grey;
  }
  .col-lg-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .item-1 {
    padding-left: 15px;
  }
  @media (min-width: $range-min-lg-width) {
    .col-lg-3.item-1 {
      width: 22%;
    }
    .col-lg-3.item-2 {
      width: 33%;
    }
    .col-lg-3.item-3 {
      width: 24%;
    }
    .col-lg-3.item-4 {
      width: 21%;
    }
  }
}
