/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$font-sans: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
$font-serif: serif;

/* ----- Responsive Size & Breakpoint Variables ----- */

// Bootstrap breakpoints for reference (not overrides)
//$secondary-color: $gsk-accent;
$lg-width: 1450px;
$width: 1210px;
$sm-width: 980px;
$range-min-lg-width: $lg-width;
$range-max-width: $lg-width - 1;
$range-min-width: $width;
$range-max-sm-width: $width - 1;
$range-min-sm-width: $sm-width;
$range-max-xm-width: $sm-width - 1;

/* All other project specified variatbles */
$nav-brand: 165px;
$nav-pull-right-width-sm: 63px;
$nav-pull-right-width-lg: 251px;

/* ----- Overwrite Bootstrap Variables ----- */
$screen-sm: $sm-width;
$screen-md: $sm-width;
$screen-lg: $width;

/* ----- Color Variables ----- */
// brand colors
$darker-blue: #064785;
$dark-blue: #1c75cd;
$medium-blue: #03aedf;
$light-blue: #9bdcff;

$brand-color: $dark-blue;
$brand-over: $darker-blue;
$brand-accent: #38657f;
$brand-background: #b0e5fc;
$no-segment-background: #d8f3fe;

$oncokb-orange: #FF9900;
$oncokb-danger-dark: #bd1426;
$oncokb-warning-yellow: #e09600;

// neutrals & text colors
$pure-white: #fff;
$pure-black: #000;
$grey: #dfdfd8;
$grey-background: #e9e9e4;
$grey-warm: #b3b3a6;
$main-text: #222;
$grey-link: #747474;
$dark-grey-link: #4b4b49;
$dark-grey-background: #737373;
$dark-grey-copy: #444445;
$caption-color: #777;
$very-light: #f3f4ef;
$transparent-white: rgba(255, 255, 255, 0.9);

//Level colors
$level-1: #33A02C;
$level-2A: #1F78B4;
$level-2B: #80B1D3;
$level-3A: #984EA3;
$level-3B: #BE98CE;
$level-4: #424242;
$level-R1: #EE3424;
$level-R2: #F79A92;
$level-R3: #FCD6D3;

// social colors
$color-facebook: #37619e;
$color-twitter: mix($pure-black, #2dabdf, 15%);
$color-linkedin: #196e9b;

// Other colors
$required: #d9534f;

/* ----- Site Sections ----- */

// section-specific colors
$pc: #017aac;
$pc-over: #014867;
$pc-accent: #a82054;
$pc-background: #e9f9ff;
$pc-edge: #afe5f6;

$pd: $pc;
$pd-over: $pc-over;
$pd-accent: $pc-accent;
$pd-background: $pc-background;
$pd-edge: $pc-edge;

$rs: #c84e23;
$rs-over: #7a1f00;
$rs-accent: #00837b;
$rs-background: #ffedd2;
$rs-edge: #f8bd61;

$hp: #00837b;
$hp-over: #00514b;
$hp-accent: #fdc94b;
$hp-accent-alt: #996f0a;
$hp-background: #edfdfc;
$hp-edge: #dbfbfa;

$gsk: #1c75cd;
$gsk-over: #064785;
$gsk-btn-over: #7a1f00;
$gsk-accent: #c84e23;
$gsk-background: #f0f0ec;
$gsk-edge: #1c75cd;
$gsk-segmentPageAction: #03aedf;
$gsk-navigation-edge: #5f5e5e;

$utility-nav-search-placeholder-color: $caption-color;
$utility-nav-search-background: #2C8AE6;

// More Science, Less Fear campaign
$mslf-teal: #009287;
$mslf-orange: #eb4825;
$mslf-magenta: $pc-accent;
$mslf-blue: $dark-blue;

$quote-neutral: #656565;

/* ----- Overwrite Material Variables ----- */
$primary-color: $dark-blue;
$secondary-color: $oncokb-orange;

/* Segment Map
  see example use in _content-tile.scss, _landing-page-hero.scss... */

$segments: (
  (segmentSlug: pc,
    segmentColor: $pc,
    segmentBackground: $pc-background,
    segmentEdge: $pc-edge,
    segmentOver: $pc-over,
    segmentAccent: $pc-accent,
    segmentColorAlt: $pc,
    segmentColorAltOver: $pc-over,
    segmentTitle: "For Adult Patients"),
  (segmentSlug: pd,
    segmentColor: $pd,
    segmentBackground: $pd-background,
    segmentEdge: $pd-edge,
    segmentOver: $pd-over,
    segmentAccent: $pd-accent,
    segmentColorAlt: $pd-accent,
    segmentColorAltOver: darken($pd-accent, 20%),
    segmentTitle: "For Pediatric Patients"),
  (segmentSlug: rs,
    segmentColor: $rs,
    segmentBackground: $rs-background,
    segmentEdge: $rs-edge,
    segmentOver: $rs-over,
    segmentAccent: $rs-accent,
    segmentColorAlt: $rs,
    segmentColorAltOver: $rs-over,
    segmentTitle: "For Research Scientists"),
  (segmentSlug: hp,
    segmentColor: $hp,
    segmentBackground: $hp-background,
    segmentEdge: $hp-edge,
    segmentOver: $hp-over,
    segmentAccent: $hp-accent,
    segmentAccentAlt: $hp-accent-alt,
    segmentColorAlt: $hp,
    segmentColorAltOver: $hp-over,
    segmentTitle: "For Healthcare Professionals"),
  (segmentSlug: gsk,
    segmentColor: $gsk,
    segmentBackground: $gsk-background,
    segmentEdge: $gsk-edge,
    segmentOver: $gsk-over,
    segmentAccent: $gsk-accent,
    segmentTitle: "Gerstner Sloan Kettering",
    segmentPageAction: $gsk-segmentPageAction,
    segmentButtonHover: $gsk-btn-over,
    segmentColorAlt: $gsk,
    segmentColorAltOver: $gsk-over,
    segmentNavigationEdge: $gsk-navigation-edge)
);

/* ----- Bootstrap Variable Overrides ----- */

$brand-primary: $brand-color;
$btn-primary-bg: $brand-primary;
$text-color: $main-text;
$link-color: $brand-primary;
$btn-info: $medium-blue;
$btn-info-bg: $btn-info;
$input-color-placeholder: $main-text;

$container-large-desktop: 1200px;
