$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "Materialize/sass/materialize.scss";
// endbower

$orange: #c84e23;

/* Tag Styles */
@media only screen and (min-width: 993px) {
  /* line 12, ../../bower_components/Materialize/sass/components/_grid.scss */
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 993px) {
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    padding: 0 0 200px;
  }
  .footer {
    height: 200px;
  }
}

@media (max-width: 610px) {
  body {
    padding-top: 160px;
  }
}

@media (max-width: 993px) and (min-width: 610px) {
  body {
    padding-top: 130px;
  }
}

@media (min-width: 993px) {
  body {
    padding-top: 100px;
  }
  .wrapper {
    /* Negative indent footer by its height */
    margin: 0 auto -120px;
    /* Pad bottom by footer height */
    padding: 0 0 120px;
  }
  .footer {
    height: 120px;
  }
}

@media (max-width: 1100px) {
  .navbar-nav > li > a {
    padding: 15px 6px;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .parentCompany {
    display: none;
  }
  .subNav.navbar-fixed-top {
    top: 0;
  }
  .mskcc-logo {
    display: none;
  }
  .mskcc-icon {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}

@media (min-width: 920px) {
  .mskcc-logo {
    display: block;
  }
  .mskcc-icon {
    display: none;
  }
}

@media (max-width: 920px) and (min-width: 768px) {
  .mskcc-logo {
    display: none;
  }
  .mskcc-icon {
    display: block;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Helvetica;
}

//
////Bootstrap media width
//@media (max-width: 992px) {
//    .navbar-brand {
//        padding: 15px 10px 15px 15px;
//    }
//}
//

/* Header classes */

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.subNavWrapper {
  background-color: #064785;
}

.subNav {
  height: 50px;
  line-height: 30px;
  padding: 10px 0;

  span {
    font-size: 16px;
    color: white;
    border-right: 1px solid #1c75cd;
    padding: 0 10px;
  }
  span:first-child {
    padding-left: 0;
  }
  span:last-child {
    border: 0;
  }
  input[type=text] {
    height: 29px;
    width: 100%;
    margin: 0;
    border-color: #1c75cd;
    color: #fff;
  }
  input[type=text]:focus {
    border-bottom-color: $orange;
    box-shadow: 0 1px 0 0 $orange;
  }
}

.menu-toggle {
  width: 50px;
  height: 40px;
  position: relative;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30%;
    background: white;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  b {
    display: block;
    position: absolute;
    color: white;
    top: 18px;
    width: 100%;
    text-align: center;
  }
  span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  span:nth-child(odd) {
    left: 10px;
    border-radius: 9px 0 0 9px;
  }

  span:nth-child(1), span:nth-child(2) {
    top: 0px;
  }

  span:nth-child(3), span:nth-child(4) {
    top: 7px;
  }

  span:nth-child(5), span:nth-child(6) {
    top: 14px;
  }
}

.menu-toggle.open span:nth-child(1), .menu-toggle.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-toggle.open span:nth-child(2), .menu-toggle.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-toggle.open span:nth-child(1) {
  left: 10px;
  top: 3px;
}

.menu-toggle.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 3px;
}

.menu-toggle.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.menu-toggle.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.menu-toggle.open span:nth-child(5) {
  left: 10px;
  top: 13px;
}

.menu-toggle.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 13px;
}

.mskcc-logo, .mskcc-icon {
  height: 50px;
}

.container.nav-container {
  //padding-left: 30px;
  //padding-right: 30px;
}

table.gene-table td:first-child {
  white-space: nowrap;
}

/* Content classes */
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header classes */

.footer {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #737373;
  text-align: center;
  a {
    color: white;
    border-right: 0.5px solid #fff;
    padding: 0 5px;
  }
  a:last-child {
    border: 0;
  }
  .footer-row-2 {
    line-height: 50px;
    margin-bottom: 0;
  }
  .mskcc-footer-logo0-wrapper {
    height: 50px;
  }
  .mskcc-footer-logo {
    height: 50px;
  }
}

/* ID styles*/
#genesDownload a {
  color: white;
}

/*Overide bootstrap styles*/
.navbar-collapse {
  border: 0;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.in {
  background-color: white;
  font-weight: bold;
  a {
    color: #000;
    border-bottom: 1px solid #b3b3a6;
    padding: 11px 15px;
  }
  a:hover {
    background-color: $orange;
    color: white;
  }
}

.navbar-nav {
  margin: 0 -15px 0 0;
}

.navbar-header {
  background-color: #1c75cd;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-inverse {
  background-color: #1c75cd;
  border: 0;
  webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
  cursor: default;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.parentCompany.navbar-inverse .navbar-brand:hover,
.parentCompany.navbar-inverse .navbar-brand:focus {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #1c75cd;
  background-color: #fff;
  opacity: 1;
  //border-bottom: 2px solid #1c75cd;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #1c75cd;
  background-color: #fff;
  opacity: 0.8;
  //border-bottom: 2px solid #1c75cd;
}

.navbar-toggle {
  width: 50px;
}

.navbar-toggle .icon-bar {
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: #fff;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #777;
}

.btn-info {
  background-color: #1c75cd;
  border: 0;
}

.btn-info:hover {
  background-color: #0066cb;
}

.navbar-brand > img {
  display: inline-block;
}

.navbar-brand .logo {
  margin-bottom: 5px;
  margin-right: 1px;
}

.parentCompany ul.nav.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
}

.parentCompany .navbar-brand {
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.parentCompany.navbar {
  min-height: 30px;
  background-color: #1c75cd;
}

/* Overwrite Materialize css*/
.btn, .btn-large {
  background-color: #1c75cd;
}

.btn:hover, .btn-large:hover {
  background-color: #1c75cd;
}

/*Self defined styles*/
.parentCompany {
  height: 30px;
  line-height: 30px;
}

.projects {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.projects > a {
  color: #fff;
  float: left;
  width: 25%;
}

.projects > a:hover {
  text-decoration: none;
}

.projects > a:nth-child(1) {
  color: #1c75cd;
  background: #fff;
  webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.projects > a:hover:not(:first-child) {
  opacity: 0.8;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none !important;
}

.collapseBody {
  margin: 0;
  padding: 2rem;
}

.collapseBody ul li {
  list-style-type: square;
  margin-left: 20px;
}

.collapseBody .codeScroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabsContent {
  margin-top: 20px;
}

.floatRight {
  float: right;
}

.img-full {
  width: 100%;
}

.gene-info {
  text-align: center;
}

.gene-title {
  font-size: 40px;
}

.gene-numbers {
  padding-top: 60px;
  text-align: center;
}

.gene-numbers-content {
  font-size: 20px;
  color: #1c75cd;
}

#levelDownload {
  margin-bottom: 10px;
}

#canvas-container {
  @media (min-width: 993px) {
    margin-left: 70px;
  }
  position: relative;
}

#canvas-hover {
  position: absolute;
  border: 2px solid #fff;
  box-shadow: 0 0 4px 0 #008;
  padding: 2px;
  margin: -4px 0 0 -4px;
  pointer-events: none;
  border-radius: 0.5em;
}

#canvas-hover-label {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  margin-top: 6px;
  padding: 0 0.5em;
  border-radius: 0.5em;
  font-size: 18px;
  border: 2px solid black;

  white-space: nowrap;
}
