$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import "vars";

// bower:scss
@import "materialize/sass/materialize.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "mixins";
@import "typography";
@import "font";
@import "layout";
@import "nav";

.content {
  margin-bottom: 20px;
}

/* ID styles*/
#genesDownload a {
  color: white;
}

/* Overwrite datatable style*/
.pagination li {
  padding: 0;
}

div.dataTables_length label, div.dataTables_filter label {
  font-size: 14px;
}

table.dataTable tbody td.child {
  padding: 8px 0 8px 20px;
}

/* ------------------------ */

/*Overide bootstrap styles*/
.btn-info {
  background-color: $primary-color;
  border: 0;
}

.btn-info:hover {
  background-color: #0066cb;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 370px;
}

.dataTables_filter > label {
  display: inline-flex;
}

/* ----------------------- */

/*Overide materialize styles*/
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $secondary-color;
  box-shadow: 0 1px 0 0 $secondary-color;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin-bottom: 10px;
  font-size: 14px;
}

/* ----------------------- */

/*Overide Swagger-UI styles*/

.swagger-ui {
  .operation.get .content {
    .parameters {
      .name {
        width: 15%;
      }
      .value {
        width: 25%;
      }
      .desc {
        width: 35%;
      }
    }
  }
  .operation.post .content {
    .parameters {
      .name {
        width: 15%;
      }
      .value {
        width: 20%;
      }
    }
  }
}

/* ----------------------- */

a:hover, a:focus {
  text-decoration: none;
}

.collapseBody {
  margin: 0;
  padding: 2rem;
}

.collapseBody ul li {
  list-style-type: square;
  margin-left: 20px;
}

.collapseBody .codeScroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabsContent {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.img-full {
  width: 100%;
}

.about, .team, .level-page, .license, .news, .actionable-genes, .data-access {
  margin: auto;
  h5 {
    font-weight: 700;
  }
}

.about {
  .about-title {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    float: left;
    line-height: 50px;
  }
  .about-process {
    margin: auto;
    display: block;
  }
  .quest-info {
    color: green;
    width: 125px;
    float: left;
    font-style: italic;
    margin-top: 5px;
  }
}

.gene-evidence-qtip {
  max-width: 600px;
  ul.list-group {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 0;
  }
  .list-group-item {
    border: 0;
    padding: 5px;
    line-height: 16px;
    display: inline-block;
    a {
      color: $primary-color;
    }
  }
  .list-group-item:not(:first-child) {
    border-top: 1px solid #d0d0d0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.main-search-template {
    margin: 3px 5px;
    padding: 3px 5px;
    line-height: 25px;
    .main-search-alias, .main-search-annotation {
        color: grey;
        font-size: 13px;
        line-height: 15px;
    }
    .main-search-alias {
        font-weight: 300;
        font-style: italic;
    }
    .main-search-variant {
        .match {
            margin-bottom: 3px;
            width: 100%;
            height: 22px;
            .main-search-gene-variant {
                float: left;
                height: 16px;
                line-height: 16px;
                margin-top: 6px;
            }
            .oncogenic-icon-image {
                float: left;
                margin-left: 5px;
                width: 24px;
                height: 22px;
                line-height: 22px;
                background-image: url("../resources/images/oncogenic_v2_09302016.png");
                -webkit-background-size: 200px;
                background-size: 200px;
                display: block !important;
            }
            .no-annotation {
                float: right
            }
        }

        .oncogenic-icon-image.level1.oncogenic {
            background-position: -13px -14px;
        }

        .oncogenic-icon-image.level2A.oncogenic {
            background-position: -38px -14px;
        }

        .oncogenic-icon-image.level2B.oncogenic {
            background-position: -63px -14px;
        }

        .oncogenic-icon-image.level3A.oncogenic {
            background-position: -88px -14px;
        }

        .oncogenic-icon-image.level3B.oncogenic {
            background-position: -113px -14px;
        }

        .oncogenic-icon-image.level4.oncogenic {
            background-position: -138px -14px;
        }

        .oncogenic-icon-image.levelR1.oncogenic {
            background-position: -13px -44px;
        }

        .oncogenic-icon-image.levelR2.oncogenic {
            background-position: -38px -44px;
        }

        .oncogenic-icon-image.levelR3.oncogenic {
            background-position: -63px -44px;
        }

        .oncogenic-icon-image.level1R.oncogenic {
            background-position: -13px -74px;
        }

        .oncogenic-icon-image.level2AR.oncogenic {
            background-position: -38px -74px;
        }

        .oncogenic-icon-image.level2BR.oncogenic {
            background-position: -63px -74px;
        }

        .oncogenic-icon-image.level3AR.oncogenic {
            background-position: -88px -74px;
        }

        .oncogenic-icon-image.level3BR.oncogenic {
            background-position: -113px -74px;
        }

        .oncogenic-icon-image.level4R.oncogenic {
            background-position: -138px -74px;
        }

        .oncogenic-icon-image.level1.likely-neutral {
            background-position: -13px -104px;
        }

        .oncogenic-icon-image.level2A.likely-neutral {
            background-position: -38px -104px;
        }

        .oncogenic-icon-image.level2B.likely-neutral {
            background-position: -63px -104px;
        }

        .oncogenic-icon-image.level3A.likely-neutral {
            background-position: -88px -104px;
        }

        .oncogenic-icon-image.level3B.likely-neutral {
            background-position: -113px -104px;
        }

        .oncogenic-icon-image.level4.likely-neutral {
            background-position: -138px -104px;
        }

        .oncogenic-icon-image.levelR1.likely-neutral {
            background-position: -13px -134px;
        }

        .oncogenic-icon-image.levelR2.likely-neutral {
            background-position: -38px -134px;
        }

        .oncogenic-icon-image.levelR3.likely-neutral {
            background-position: -63px -134px;
        }

        .oncogenic-icon-image.level1R.likely-neutral {
            background-position: -13px -164px;
        }

        .oncogenic-icon-image.level2AR.likely-neutral {
            background-position: -38px -164px;
        }

        .oncogenic-icon-image.level2BR.likely-neutral {
            background-position: -63px -164px;
        }

        .oncogenic-icon-image.level3AR.likely-neutral {
            background-position: -88px -164px;
        }

        .oncogenic-icon-image.level3BR.likely-neutral {
            background-position: -113px -164px;
        }

        .oncogenic-icon-image.level4R.likely-neutral {
            background-position: -138px -164px;
        }

        .oncogenic-icon-image.level1.unknown-oncogenic {
            background-position: -13px -194px;
        }

        .oncogenic-icon-image.level2A.unknown-oncogenic {
            background-position: -38px -194px;
        }

        .oncogenic-icon-image.level2B.unknown-oncogenic {
            background-position: -63px -194px;
        }

        .oncogenic-icon-image.level3A.unknown-oncogenic {
            background-position: -88px -194px;
        }

        .oncogenic-icon-image.level3B.unknown-oncogenic {
            background-position: -113px -194px;
        }

        .oncogenic-icon-image.level4.unknown-oncogenic {
            background-position: -138px -194px;
        }

        .oncogenic-icon-image.levelR1.unknown-oncogenic {
            background-position: -13px -224px;
        }

        .oncogenic-icon-image.levelR2.unknown-oncogenic {
            background-position: -38px -224px;
        }

        .oncogenic-icon-image.levelR3.unknown-oncogenic {
            background-position: -63px -224px;
        }

        .oncogenic-icon-image.level1R.unknown-oncogenic {
            background-position: -13px -254px;
        }

        .oncogenic-icon-image.level2AR.unknown-oncogenic {
            background-position: -38px -254px;
        }

        .oncogenic-icon-image.level2BR.unknown-oncogenic {
            background-position: -63px -254px;
        }

        .oncogenic-icon-image.level3AR.unknown-oncogenic {
            background-position: -88px -254px;
        }

        .oncogenic-icon-image.level3BR.unknown-oncogenic {
            background-position: -113px -254px;
        }

        .oncogenic-icon-image.level4R.unknown-oncogenic {
            background-position: -138px -254px;
        }

        .oncogenic-icon-image.level1.no-info-oncogenic {
            background-position: -13px -284px;
        }

        .oncogenic-icon-image.level2A.no-info-oncogenic {
            background-position: -38px -284px;
        }

        .oncogenic-icon-image.level2B.no-info-oncogenic {
            background-position: -63px -284px;
        }

        .oncogenic-icon-image.level3A.no-info-oncogenic {
            background-position: -88px -284px;
        }

        .oncogenic-icon-image.level3B.no-info-oncogenic {
            background-position: -113px -284px;
        }

        .oncogenic-icon-image.level4.no-info-oncogenic {
            background-position: -138px -284px;
        }

        .oncogenic-icon-image.levelR1.no-info-oncogenic {
            background-position: -13px -314px;
        }

        .oncogenic-icon-image.levelR2.no-info-oncogenic {
            background-position: -38px -314px;
        }

        .oncogenic-icon-image.levelR3.no-info-oncogenic {
            background-position: -63px -314px;
        }

        .oncogenic-icon-image.level1R.no-info-oncogenic {
            background-position: -13px -344px;
        }

        .oncogenic-icon-image.level2AR.no-info-oncogenic {
            background-position: -38px -344px;
        }

        .oncogenic-icon-image.level2BR.no-info-oncogenic {
            background-position: -63px -344px;
        }

        .oncogenic-icon-image.level3AR.no-info-oncogenic {
            background-position: -88px -344px;
        }

        .oncogenic-icon-image.level3BR.no-info-oncogenic {
            background-position: -113px -344px;
        }

        .oncogenic-icon-image.level4R.no-info-oncogenic {
            background-position: -138px -374px;
        }

        .oncogenic-icon-image.oncogenic {
            background-position: -13px -374px;
        }

        .oncogenic-icon-image.likely-neutral {
            background-position: -38px -374px;
        }

        .oncogenic-icon-image.unknown-oncogenic {
            background-position: -63px -374px;
        }

        .oncogenic-icon-image.vus {
            background-position: -88px -374px;
        }

        .oncogenic-icon-image.no-info-oncogenic {
            background-position: -113px -374px;
        }
    }
}

.active {
    .main-search-template {
        .main-search-alias, .main-search-annotation {
            color: white;
        }
    }
}

.referenceStyle {
  white-space: nowrap;
}

.old-browser-warning {
  background: red;
  color: white;
}

.btn.download, .btn-large.download, .btn-sm.download,
.btn.download:hover, .btn-large.download, .btn-sm.download:hover {
  background-color: $primary-color;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

.btn.btn-sm {
  margin-bottom: 10px;
  height: 30px;
}

#custom_mutation_details_template .mutation-details-loader > img {
  margin: auto;
  width: 30px;
}

.bgStyle {
  background: transparent;
  box-shadow: none
}

.level-1 {
  color: $level-1;
}

.level-2A {
  color: $level-2A;
}

.level-2B {
  color: $level-2B;
}

.level-3A {
  color: $level-3A;
}

.level-3B {
  color: $level-3B;
}

.level-4 {
  color: $level-4;
}

.level-R1 {
  color: $level-R1;
}

.level-R2 {
  color: $level-R2;
}

.level-R3 {
  color: $level-R3;
}

.loading-style {
  margin-left: 50%;
  margin-top: 20%;
}
/* Include styles for each page */
@import "home";
@import "genes";
@import "gene";
@import "team";
@import "actionable";
@import "respTabs";
@import "news";
@import "dataAccess";
@import "license";
@import "cancerGenes";
