$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import "vars";

// bower:scss
@import "materialize/sass/materialize.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "mixins";
@import "typography";
@import "font";
@import "layout";
@import "nav";

.content {
  margin-bottom: 20px;
}

/* ID styles*/
#genesDownload a {
  color: white;
}

/* Overwrite datatable style*/
.pagination li {
  padding: 0;
}

div.dataTables_length label, div.dataTables_filter label {
  font-size: 14px;
}

table.dataTable tbody td.child {
  padding: 8px 0 8px 20px;
}

/* ------------------------ */

/*Overide bootstrap styles*/
.btn-info {
  background-color: $primary-color;
  border: 0;
}

.btn-info:hover {
  background-color: #0066cb;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 370px;
}

.dataTables_filter > label {
  display: inline-flex;
}

/* ----------------------- */

/*Overide materialize styles*/
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $secondary-color;
  box-shadow: 0 1px 0 0 $secondary-color;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin-bottom: 10px;
  font-size: 14px;
}

/* ----------------------- */

/*Overide Swagger-UI styles*/

.swagger-ui {
  .operation.get .content {
    .parameters {
      .name {
        width: 15%;
      }
      .value {
        width: 25%;
      }
      .desc {
        width: 35%;
      }
    }
  }
  .operation.post .content {
    .parameters {
      .name {
        width: 15%;
      }
      .value {
        width: 20%;
      }
    }
  }
}

/* ----------------------- */

a:hover, a:focus {
  text-decoration: none !important;
}

.collapseBody {
  margin: 0;
  padding: 2rem;
}

.collapseBody ul li {
  list-style-type: square;
  margin-left: 20px;
}

.collapseBody .codeScroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabsContent {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.img-full {
  width: 100%;
}

.about, .team, .level-page, .license, .news, .actionable-genes, .data-access {
  margin: auto;
  h5 {
    font-weight: 700;
  }
}

.about {
  .about-title {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    float: left;
    line-height: 50px;
  }
  .about-process {
    margin: auto;
    display: block;
  }
  .quest-info {
    color: green;
    width: 125px;
    float: left;
    font-style: italic;
    margin-top: 5px;
  }
}

.gene-evidence-qtip {
  max-width: 600px;
  ul.list-group {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 0;
  }
  .list-group-item {
    border: 0;
    padding: 5px;
    line-height: 16px;
    a {
      color: $primary-color;
    }
  }
  .list-group-item:not(:first-child) {
    border-top: 1px solid #d0d0d0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.main-search-template {
    margin: 3px 5px;
    padding: 3px 5px;
    .alias {
        font-size: 13px;
        color: grey;
        font-style: italic;
        font-weight: 200;
    }
}

.referenceStyle {
  white-space: nowrap;
}

.old-browser-warning {
  background: red;
  color: white;
}

.btn.download, .btn-large.download, .btn-sm.download,
.btn.download:hover, .btn-large.download, .btn-sm.download:hover {
  background-color: $primary-color;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

.btn.btn-sm {
  margin-bottom: 10px;
  height: 30px;
}

#custom_mutation_details_template .mutation-details-loader > img {
  margin: auto;
  width: 30px;
}

.bgStyle {
  background: transparent;
  box-shadow: none
}

.level-1 {
  color: $level-1;
}

.level-2A {
  color: $level-2A;
}

.level-2B {
  color: $level-2B;
}

.level-3A {
  color: $level-3A;
}

.level-3B {
  color: $level-3B;
}

.level-4 {
  color: $level-4;
}

.level-R1 {
  color: $level-R1;
}

.level-R2 {
  color: $level-R2;
}

.level-R3 {
  color: $level-R3;
}

/* Include styles for each page */
@import "home";
@import "genes";
@import "gene";
@import "team";
@import "actionable";
@import "respTabs";
@import "news";
@import "dataAccess";
