$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "vars";
@import "mixins";
@import "typography";
@import "font";
@import "layout";
@import "nav";

/* Overwrite Materialize css*/
.btn, .btn-large {
  background-color: $dark-blue;
}

.btn:hover, .btn-large:hover {
  background-color: $dark-blue;
}
/* ------------------------ */



.content {
  margin-bottom: 20px;
}


/* ID styles*/
#genesDownload a {
  color: white;
}

/* Overwrite datatable style*/
.pagination li {
  padding: 0;
}

div.dataTables_length label, div.dataTables_filter label {
  font-size: 14px;
}
/* ------------------------ */

/*Overide bootstrap styles*/
.btn-info {
  background-color: $dark-blue;
  border: 0;
}

.btn-info:hover {
  background-color: #0066cb;
}
/* ----------------------- */

a:hover, a:focus {
  text-decoration: none !important;
}

.collapseBody {
  margin: 0;
  padding: 2rem;
}

.collapseBody ul li {
  list-style-type: square;
  margin-left: 20px;
}

.collapseBody .codeScroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabsContent {
  margin-top: 20px;
}

.floatRight {
  float: right;
}

.img-full {
  width: 100%;
}

.about, .team, .level-page {
  margin: auto;
  h5 {
    font-weight: 700;
  }
}

#levelDownload {
  margin-bottom: 10px;
}

.gene-evidence-qtip {
  min-width: 500px;
}

.referenceStyle{
    white-space: nowrap;
}
/* Include styles for each page */
@import "home";
@import "genes";
@import "gene";
