.po-tx-table .footnote-letter {
  font-size: 0.7rem;
  vertical-align: text-top;
  margin-left: 0.1rem;
}

.definition-notes {
  .note {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .note-letter {
    font-size: 0.8rem;
    vertical-align: text-top;
    margin-right: 0.25rem;
  }
}
