node_modules/
src/main/docker/

# Temporary disable all files under src/test
src/test/

src/test/javascript/protractor.conf.js
src/test/javascript/jest.conf.js
src/main/webapp/app/shared/api/generated/
scripts/
webpack/
target/
build/
node/
postcss.config.js
