:global(.btn).highlight {
  padding-top: 1.5px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Gotham Bold';
  min-height: 3rem;
  color: $oncokb-dark-blue;
  border-radius: 0;
  border-bottom: 1px solid $oncokb-dark-blue;
  display: flex;
  align-items: center;
}

:global(.btn).withHref > a {
  color: $oncokb-dark-blue;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

:global(.btn).withoutHref {
  &:hover,
  &:focus {
    color: $oncokb-dark-blue;
    text-decoration: none;
  }
}
