@import '~oncokb-styles/scss/vars';
@import '../../variables';

.message {
  padding: 10px 0;
  background: $oncokb-dark-blue;
  color: #fff;
  font-size: $oncokb-font-font-size;
  position: relative;
  border-bottom: 1px solid lightgrey;

  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: lightgrey;
  }
  .messageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i.close {
    cursor: pointer;
  }
}
