@import '~oncokb-styles/scss/vars';
@import '../../variables';

.message {
  padding: 10px 0;
  background: $oncokb-dark-blue;
  color: #fff;
  font-size: $oncokb-font-font-size;
  position: relative;
  border-bottom: 1px solid lightgrey;

  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: lightgrey;
  }
  .messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 0 2rem;
  }

  .messageText {
    max-width: 80ch;
    margin: 0 auto;
    text-align: center;
  }

  i.close {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.alert {
  background: $warning;
  color: $black;

  a {
    color: $black;
  }

  a:hover {
    color: darken($black, 10%);
  }
}
