@import '../../variables';

.message {
  padding: 10px 0;
  background: green;
  color: #fff;
  font-size: $oncokb-font-font-size;
  position: relative;

  .messageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i.close {
    cursor: pointer;
  }
}
