@import '../../variables';

.tile {
  border-radius: 8px;
  border: 1px solid $light-grey;
  padding: 1rem;
  display: inline-block;
  box-shadow: $default-box-shadow;
}

.category:not(:last-child) {
  border-right: 1px solid $light-grey;
  padding-right: 1rem;
}
.category:not(:first-child) {
  padding-left: 1rem;
}
