<div class="container">
  <div ng-if="!doneLoading" class="loading-style">
    <img src="resources/images/loader.gif">
  </div>
  <div class="genes" ng-show="doneLoading">
    <table datatable="ng" dt-options="dt.dtOptions"
           class="table row-border hover gened-table">
      <thead>
      <tr>
        <th>Gene</th>
        <th>Highest Level of Evidence</th>
        <th># of Alterations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="gene in meta.genes">
        <td ng-click="clickGene(gene.gene)">{{gene.gene}}</td>
        <td>{{gene.level}}</td>
        <td>{{gene.altNum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
