@import '../../variables.scss';
@import '../../font.scss';

$sticky-border: #e3e5ec;
.container {
  a:hover {
    text-decoration: none;
  }

  position: sticky;
  top: 50px;
  z-index: 100;
  background-color: white;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $sticky-border;
  min-height: 49px;
}

.containerSticky {
  box-shadow: $default-box-shadow;
}

.stickyHeader {
  @extend .font-bold;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.stickySection {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid transparent;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.stickySectionSelected {
  @extend .font-bold;
  font-weight: bold;
  border-bottom-color: $primary;
}

@media (min-width: 550px) {
  .nav {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
