.geneEnsemblInfo {
  font-size: 0.8rem;
}

.geneEnsemblInfo,
.lowKeyLinkout {
  color: $grey;
}

.sameLineSpans {
  display: flex;
  flex-wrap: wrap;
  > span {
    margin: 0 0.3rem;
  }

  > span:first-child {
    margin-left: 0;
  }

  > span:last-child {
    margin-left: 0;
  }
}

:global(.RRT__panel).panel {
  border-width: 1px 0 0;
  padding-left: 0;
  padding-right: 0;
}
