.geneAdditionalInfo {
  color: $grey;
  display: flex;

  > span {
    margin: 0 0.25rem;
    display: flex;
    align-items: center;
  }

  > span:first-child {
    margin-left: 0;
  }

  > span:last-child {
    margin-left: 0;
  }
}

:global(.btn).geneAdditionalInfoButton {
  color: $grey;
  padding: 0 0.25rem;
}

.tab {
}

:global(.RRT__panel).panel {
  border-width: 1px 0 0;
  padding-left: 0;
  padding-right: 0;
}
