@import '../variables';

.footer {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: $oncokb-dark-blue;
  position: absolute;
  bottom: 0;

  a {
    color: white;
  }

  a:hover {
    color: white;
  }
}

.footerAList > a {
  color: white;
  border-right: 0.5px solid #fff;
  padding: 0 5px;

  &:last-child {
    border: 0;
  }
}
