@import '~oncokb-styles/scss/vars';

.backLink {
  gap: 0.5rem;
}

.navBarTitle {
  .pill {
    font-size: 0.85rem;
  }
}

.descriptionContainer {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.showHideText {
  margin-bottom: '0.5rem';
}

.no-clinical-implications {
  background-color: $pale-blue-grey;
}
