.backLink {
  gap: 0.5rem;
}

.navBarTitle {
  .pill {
    font-size: 0.85rem;
  }
}

.alterationTiles {
  gap: 8px;
  padding: 32px 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .alterationTiles {
    flex-wrap: nowrap;
  }
  .headerContent {
    justify-content: flex-start;
  }
}

.descriptionContainer {
  margin-bottom: 1rem;
}

.showHideText {
  margin-bottom: '0.5rem';
}
