<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
  <link rel="stylesheet" href="bower_components/nprogress/nprogress.css" />
  <link rel="stylesheet" href="bower_components/qtip2/jquery.qtip.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href="../lib/mutation-mapper/css/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet"/>
  <link href="../lib/mutation-mapper/css/mutationMapper.css" type="text/css" rel="stylesheet"/>
  <link href="../lib/mutation-mapper/css/mutation_info_panel.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


  <!-- endbuild -->
</head>
<body ng-controller="MainCtrl as ctrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top" class="" role="navigation">
    <div class="container nav-container">
      <div class="navbar-header">
        <div data-toggle="collapse" data-target=".navbar-collapse" class="nav-toggle menu-toggle"
             ng-class="{open: toggled}" ng-click="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <b>Menu</b>
        </div>
        <span class="navbar-brand"><img class="logo" src="resources/images/oncokb-lg.svg"/></span>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
          <li ng-class="{ active: isActive('/about')}"><a href="#/about">About OncoKB</a></li>
          <li ng-class="{ active: isActive('/team')}"><a href="#/team">Team</a></li>
          <li ng-class="{ active: isActive('/levels')}"><a href="#/levels">Levels of Evidence</a></li>
          <!--<li ng-class="{ active: isActive('/api')}"><a href="#/api">API</a></li>-->
        </ul>
        <div class="pull-right" ng-class="{hidden: toggled}">
          <span><a href="http://mskcc.org"><img class="mskcc-logo"
                                                src="resources/images/MSKLogo_fff.png"/></a></span>
          <span><a href="http://mskcc.org"><img class="mskcc-icon"
                                                src="resources/images/MSKIcon_fff.png"/></a></span>
        </div>
      </div>
    </div>
    <div class="subNavWrapper" ng-class="{'sub-nav-block': view.currentPage==='gene'}">
      <div class="container">
        <div class="subNav">
          <!-- In order to use last child css style, add div wrapper -->
          <div ng-show="view.subNavItems.length > 0"
               class="pull-left col-md-9 col-lg-9 col-sm-12 col-xs-12 subNav-sxn-1">
            <span ng-repeat="item in view.subNavItems">
              <span ng-if="!item.link">{{item.content}}</span>
              <a ng-if="item.link" ng-href="{{item.link}}" target="_self">{{item.content}}</a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="content" ng-view=""></div>
</div>
<div class="footer">
  <div class="container">
    <div class="row footer-row-1">
      <div class="">
        <a href="http://mskcc.org" class="">MSK <i class="fa fa-external-link"></i></a>
        <a href="https://www.mskcc.org/research-areas/programs-centers/molecular-oncology" class="">CMO <i
          class="fa fa-external-link"></i></a>
        <a href="http://www.questdiagnostics.com/home.html" class="">Quest Diagnostics <i
          class="fa fa-external-link"></i></a>
        <a href="http://cbioportal.org" class="">cBioPortal <i class="fa fa-external-link"></i></a>
        <a href="http://oncotree.mskcc.org" class="">OncoTree <i class="fa fa-external-link"></i></a>
      </div>
    </div>
    <div class="row footer-row-2">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="">
          <a href="#/team" class="">About us</a>
          <a href="mailto:team@oncokb.org" target="_top">Contact us</a>
          <a href="mailto:richarj2@mskcc.org" target="_top">Questions?</a>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mskcc-footer-logo0-wrapper">
        <a class="logo" href="http://mskcc.org" title="Memorial Sloan Kettering Cancer Center">
          <span><img src="resources/images/MSKLogo_fff.png" class="mskcc-footer-logo"></span>
        </a>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <span>© 2016 Memorial Sloan Kettering Cancer Center</span>
      </div>
    </div>
    <!--<p><a target="_blank" href="http://cmo.mskcc.org/">CMO</a> | <a target="_blank"-->
    <!--href="https://cbioportal.mskcc.org/">cBioPortal</a>-->
    <!--</p>-->

    <!--<p>Questions and feedback: Contact <a href="mailto:richarj2@mskcc.org?Subject=MSK-IMPACT%20Publication%20Policy"-->
    <!--target="_top">Julia Rudolph</a></p>-->
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
<script src="bower_components/materialize/bin/materialize.js"></script>
<script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/FileSaver/FileSaver.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/Materialize/bin/materialize.js"></script>
<script src="bower_components/nprogress/nprogress.js"></script>
<script src="bower_components/plotlyjs/plotly.js"></script>
<script src="bower_components/ev-emitter/ev-emitter.js"></script>
<script src="bower_components/imagesloaded/imagesloaded.js"></script>
<script src="bower_components/qtip2/jquery.qtip.js"></script>
<script src="bower_components/qtip2/basic/jquery.qtip.js"></script>
<script src="bower_components/string/dist/string.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script type="text/javascript" src="../lib/mutation-mapper/cbio-util.js"></script>
<script type="text/javascript" src="../lib/mutation-mapper/download-util.js"></script>
<script type="text/javascript" src="../lib/mutation-mapper/jquery-ui.min.js"></script>
<script type="text/javascript" src="../lib/mutation-mapper/cbio-util.js"></script>
<script type="text/javascript" src="../lib/mutation-mapper/mutationMapper.js"></script>
<script type="text/javascript">
  // this is for the moustache-like templates
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g
  };
</script>
<script src="scripts/wordcloud2.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/gene.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/quest.js"></script>
<script src="scripts/controllers/genes.js"></script>
<script src="scripts/directives/qtip.js"></script>
<script src="scripts/directives/main-level.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/api.js"></script>
<!-- endbuild -->
</body>
</html>

