<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Table Fragments</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <table th:fragment="userTable(tableType, userObjects, linkBaseUrl)">
    <thead>
    <tr style="text-align: left">
      <div th:if="${tableType} == 'access-ip-outlier-users'">
        <th>Token</th>
        <th>Number of Ips</th>
      </div>
      <th>License Type</th>
      <th>Email</th>
      <div th:if="${tableType} == 'unapproved-users'">
        <th>Date Created</th>
        <th>Last Discussed</th>
      </div>
      <th>Name</th>
      <th>Organization</th>
      <div th:if="${tableType} == 'unapproved-users'">
        <th>View Request in Slack</th>
      </div>
      <div th:if="${tableType} == 'access-ip-outlier-users'">
        <th>View User Account Page</th>
      </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userObject : ${userObjects}">
      <div th:if="${tableType} == 'access-ip-outlier-users'">
        <td th:text="${userObject.token.token}"/>
        <td th:text="${userObject.token.numAccessIps}"/>
      </div>
      <td th:text="${userObject.userDTO.licenseType}"/>
      <td th:text="${userObject.userDTO.email}"/>
      <div th:if="${tableType} == 'unapproved-users'">
        <td th:text="${userObject.dateCreated}"/>
        <td th:text="${userObject.dateLastReplied}"/>
      </div>
      <td th:text="${userObject.userDTO.firstName + ' ' + userObject.userDTO.lastName}"/>
      <td th:text="${userObject.userDTO.company}"/>
      <div th:if="${tableType} == 'unapproved-users'">
        <a th:with="url=(@{|${linkBaseUrl}/p${userObject.message.ts}|})" th:href="${url}">Slack request link</a>
      </div>
      <div th:if="${tableType} == 'access-ip-outlier-users'">
        <a th:with="url=(@{|${linkBaseUrl}/${userObject.userDTO.email}|})" th:href="${url}">User account link</a>
      </div>
    </tr>
    </tbody>
  </table>
</body>
</html>
