.header {
  margin-top: 1.5rem;
  margin-bottom: 1rem !important;
}

.headerContent {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.headerContentGene {
  text-wrap: nowrap;
}

@media (min-width: 600px) {
  .headerContent {
    justify-content: flex-start;
  }
}

@media (min-width: 800px) {
  .headerContent {
    flex-wrap: nowrap;
  }
}
