.header {
  margin-top: 1.5rem;
  margin-bottom: 1rem !important;
}

.headerContent {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 90dvw;
  //grid-template-columns: 1fr;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-items: center;
}

.centerContent.extraContent {
  gap: 0.5rem;
}

.headerContentGene {
  word-wrap: break-word;
}

@media (min-width: 600px) {
  .headerContent {
    grid-template-columns: max-content minmax(0, max-content) 1fr;
  }
}
