@import '../../variables';

.tabs {
  display: flex;
  margin: 1.5rem 0 0 0;
}

.tab {
  text-align: center;
  padding: 0.75rem 0;
  border: 1px solid $oncokb-darker-blue;
  cursor: pointer;
}

.tab:first-child {
  border-top-right-radius: 3px;
}

.tab:last-child {
  border-top-left-radius: 3px;
}

.selectedTab {
  padding-top: 0.5rem;
  border-width: 3px 1px 0 1px;
}

.unselectedTab {
  background-color: $inactive;
  border-width: 0 0 1px 0;
}
