<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">OncoKB activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Your OncoKB account has been created. Please click the URL below to verify your email address:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/verify?key=${user.activationKey}|})" th:href="${url}"
            th:text="${url}">Verification link</a>
        </p>
        <p>
          There may be a brief delay between registration and account verification, during which time you will not be able to log onto OncoKB. If we require additional information for account approval, we will reach out to you. Thank you for your patience.
        </p>
        <p>
            <div th:text="#{email.closing}">Sincerely, </div>
            <div th:text="#{email.signature}">The OncoKB Team</div>
        </p>
    </body>
</html>
