<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">OncoKB activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.approval.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.approval.text1}">
            Your OncoKB account has been approved. Please click on the URL below to log in:
        </p>
        <p>
          <a th:with="url=(@{|${baseUrl}/login|})" th:href="${url}"
               th:text="${url}">Login link</a>
        </p>
        <p th:if="${licenseMismatch}">
            Be aware that your account was registered with a different license and has
            been changed to match your company's license.
        </p>
        <p>
            <div th:text="#{email.closing}">Sincerely, </div>
            <div th:text="#{email.signature}">The OncoKB Team</div>
        </p>
    </body>
</html>
