<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.license.clarify.title(${user.licenseType.name})}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="'Dear ' + ${user.firstName} + ' ' + ${user.lastName} + ','"></p>

<p>Thank you for your interest in the Hospital Use license for OncoKB.</p>

<p>
  To move forward, could you share a little more information – in particular, we would like to understand the specific context of your OncoKB use-case, and how you envision implementing it into your workflow.
</p>
<p>Please provide additional details about the context of your OncoKB clinical use-case based on the following questions:</p>
<ul>
  <li>Would OncoKB be used for variant interpretation, clinical decision making, or both?</li>
  <li>Would OncoKB information be incorporated into annotated NGS reports in any way?</li>
  <li>Are you interested in having programmatic API access to OncoKB?</li>
  <li>For what volume of patients per year do you anticipate using OncoKB?</li>
</ul>
<p>
  Thank you for your interest, and we look forward to hearing from you.
</p>
<p>
<div th:text="#{email.closing}">Sincerely,</div>
<div th:text="#{email.signature}">The OncoKB Team</div>
</p>
</body>
</html>
