<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Unapproved Accounts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
  Dear members,
</p>
<p>
  <span th:if="${#lists.size(commercialUsers)} == '0'">There are no unapproved <strong>commercial</strong> OncoKB account(s) that have been created in the last <span th:text="${daysAgo}">3</span> day(s).</span>
  <div th:unless="${#lists.size(commercialUsers)} == '0'">
    <p> The following <strong>commercial</strong> OncoKB account(s) have been created in the last <span th:text="${daysAgo}">3</span> day(s) but have not been approved:</p>
    <table th:insert="fragments/tables :: userTableWithMessageLink(${commercialUsers}, ${slackBaseUrl}, ${channelId})"></table>
  </div>
</p>
<p>
  <span th:if="${#lists.size(academicUsers)} == '0'">There are no unapproved <strong>academic</strong> OncoKB account(s) that have been created in the last <span th:text="${daysAgo}">3</span> day(s).</span>
  <div th:unless="${#lists.size(academicUsers)} == '0'">
    <p> The following <strong>academic</strong> OncoKB account(s) have been created in the last <span th:text="${daysAgo}">3</span> day(s) but have not been approved:</p>
    <table th:insert="fragments/tables :: userTableWithMessageLink(${academicUsers}, ${slackBaseUrl}, ${channelId})"></table>
  </div>
</p>
<p>
  Please consider reviewing the users' approval requests.
</p>
<p>
<div th:text="#{email.closing}">Sincerely,</div>
<div th:text="#{email.signature}">The OncoKB Team</div>
</p>
</body>
</html>
