<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Unapproved Accounts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<p>
  Dear members,
</p>
<p>
  The following OncoKB account(s) have been email verified in the last <span th:text="${daysAgo}">3</span> day(s) but <strong>have not been discussed in Slack</strong> or approved:
</p>
<table th:insert="fragments/tables :: userTableWithMessageLink(${undiscussedUsers}, ${slackBaseUrl}, ${channelID})"></table>
<p>
  The following OncoKB account(s) have been email verified in the last <span th:text="${daysAgo}">3</span> day(s) and <strong>have been discussed in Slack</strong> but have not been approved:
</p>
<table th:insert="fragments/tables :: userTableWithMessageLink(${discussedUsers}, ${slackBaseUrl}, ${channelID})"></table>
<p>
  Please consider reviewing the users' approval requests.
</p>
<p>
<div th:text="#{email.closing}">Sincerely,</div>
<div th:text="#{email.signature}">The OncoKB Team</div>
</p>
</body>
</html>
