<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.reject.title(${license})}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="'Dear ' + ${user.firstName} + ' ' + ${user.lastName} + ','"></p>

<p th:text="'Thank you for your interest in the ' + ${license} + ' license for OncoKB.'"></p>

<p>Due to U.S. regulatory requirements, we are restricted from granting the license to certain foreign jurisdictions, including yours. Accordingly, we are unable to grant your license request, but thank you for your interest in OncoKB.</p>

<p>If you feel you have received this message in error, please contact us.</p>

<p>
<div th:text="#{email.closing}">Sincerely,</div>
<div th:text="#{email.signature}">The OncoKB Team</div>
</p>
</body>
</html>
