<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.license.review.title(${license})}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="'Dear ' + ${user.lastName} + ', ' + ${user.firstName}"></p>

<p th:text="'Thank you for your interest in the ' + ${license} + ' license for OncoKB.'"></p>

<p>
  To better address your request, could you please provide additional information as it relates to your use of the OncoKB knowledge base? Please use the form attached to this email. Once we receive this information, our team will follow up with next steps, which may include additional information on OncoKB and license terms.
</p>

<p>
  Additionally, please review your registration credentials below and respond to this email if any changes are needed.
</p>

<p>
<div>Job Title: <span th:text="${user.jobTitle}"></span></div>
<div>Company: <span th:text="${user.company}"></span></div>
<div>City: <span th:text="${user.city}"></span></div>
<div>Country: <span th:text="${user.country}"></span></div>
</p>

<p>Thank you in advance for your patience.</p>

<div>Sincerely, </div>
<div>The OncoKB Team</div>
</body>
</html>
