<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Termination Notification Email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>The following companies licenses are about to expire.</p>
  <table>
    <thead>
    <tr style="text-align: left">
      <th>Name</th>
      <th>Link to Company Page</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
      <td th:text="${company.name}"/>
      <td>
        <a th:with="url=(@{|${baseUrl}/companies/${company.id}|})" th:href="${url}">Company Page</a>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>
