<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Exposed Tokens Detected</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p>
            Dear members,
        </p>
        <p>
          The following OncoKB tokens have been exposed:
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Token</th>
              <th>Source</th>
              <th>License Type</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="token: ${tokens}">
              <td th:text="${token.token}"/>
              <td th:text="${token.source}"/>
              <td th:text="${token.licenseType}"/>
              <td th:text="${token.email}"/>
              <td th:text="${token.firstName}"/>
              <td th:text="${token.lastName}"/>
            </tr>
          </tbody>
        </table>
        <p>
          New tokens for those users have been generated.
        </p>
        <p>
            <div th:text="#{email.closing}">Sincerely, </div>
            <div th:text="#{email.signature}">The OncoKB Team</div>
        </p>
    </body>
</html>
