@import '../../variables';

.tag {
  font-weight: 500 !important;
  font-family: 'Gotham Book';
  font-size: 12px;
  line-height: 18px;
  display: inline-flex;
  padding: 0 var(--radius-8, 0.5rem);
  justify-content: center;
  align-items: center;
  gap: var(--radius-8, 8px);
  border-radius: 56px;
}

.germlineTag {
  @extend .tag;
  color: $primary;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  background: #f0f5ff;
}

.somaticTag {
  @extend .tag;
  color: #ffffff;
  background: $primary;
}

.alleleStateTag {
  @extend .tag;
  font-size: 15px;
  line-height: 22.5px;
}

.carrierTag {
  @extend .alleleStateTag;
  line-height: 22.5px;
  color: '#4D5358';
  background: #f2f4f8;
  border: 1.5px solid #dde1e6;
}

.monoallelicAndBiallelicTag {
  @extend .alleleStateTag;
  font-size: 15px;
  line-height: 22.5px;
  border: 1.5px solid #fddc69;
  color: #684e00;
  background: #fcf4d6;
}

.comingSoonTagSmall {
  @extend .tag;
  color: $primary;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
}

.comingSoonTagLarge {
  @extend .tag;
  color: white;
  font-size: 18px;
  background: $primary;
  padding: 4px var(--radius-8, 0.5rem);
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
}

.featureTag {
  @extend .tag;
  color: $primary;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(21, 190, 83, 1);
  color: rgba(21, 190, 83, 1);
  background-color: rgba(21, 190, 83, 0.07);
}

.fixTag {
  @extend .tag;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(185, 115, 10, 1);
  color: rgba(185, 115, 10, 1);
  background-color: rgba(185, 115, 10, 0.07);
}

.choreTag {
  @extend .tag;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(130, 100, 230, 1);
  color: rgba(130, 100, 230, 1);
  background-color: rgba(130, 100, 230, 0.07);
}

.deletedTag {
  @extend .tag;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(220, 53, 69, 1);
  background-color: rgba(220, 53, 69, 0.07);
}

.updatedTag {
  @extend .tag;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(41, 128, 217, 1);
  color: rgba(41, 128, 217, 1);
  background-color: rgba(41, 128, 217, 0.07);
}

.promotedTag {
  @extend .tag;
  border: var(--radius-2, 2px) solid var(--Color-11, $primary);
  border-color: rgba(19, 155, 122, 1);
  color: rgba(19, 155, 122, 1);
  background-color: rgba(19, 155, 122, 0.07);
}
