<div class="container">
  <div class="about">

    <div class="row">
      <div class="col-lg-12">
        <span class="about-title">About OncoKB</span>
        <div class="pull-right">
          <div class="quest-info">
            Developed in partnership with
          </div>
          <a href="http://www.questdiagnostics.com/home.html"><img src="resources/images/quest.png"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>OncoKB is a precision oncology knowledge base and contains information about the effects and treatment
          implications of specific cancer gene alterations. It is developed and maintained by the Knowledge Systems
          group in the <a href="https://www.mskcc.org/research-areas/programs-centers/molecular-oncology">Marie Josée
            and Henry R. Kravis Center for Molecular Oncology</a> at Memorial Sloan Kettering Cancer
          Center (MSK), in partnership with Quest Diagnostics.</p>
        <p>Curated by a network of clinical fellows, research fellows, and faculty members at MSK, OncoKB contains
          detailed information about specific alterations in 418 cancer genes. The information is curated from various
          sources, such as guidelines from the FDA, NCCN, or ASCO, <a href="https://clinicaltrials.gov/">ClinicalTrials.gov</a>
          and the scientific literature.</p>
        <p>For each variant, we have curated the biological effect, prevalence and prognostic information, as well as
          treatment implications. Treatment information is classified using the <a href="#/levels">Levels of
            Evidence</a> system which assigns the clinical actionability (ranging from standard-of-care to
          investigational or hypothetical treatments) to individual mutational events. OncoKB currently contains
          treatment information for Level 1, Level 2, and Level3 variants, i.e. those variants for which an FDA-approved
          or standard of care treatment is available (Levels 1 and 2), and those for wich there is clinically proven
          sensitivity to drugs that are currently in clinical trials (Level 3).</p>
        <br/>
        <p>
          <img src="resources/images/poster.png" class="about-poster"/>
        </p>
      </div>
    </div>
  </div>
</div>
