<div class="container">
  <div class="about">

    <div class="row">
      <div class="col-lg-12">
        <h2>About OncoKB</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>OncoKB is a knowledgebase for the oncogenic effects and treatment implications of cancer gene alterations.

          With a network of clinical and research fellows, faculty members at Memorial Sloan Kettering Cancer Center
          (MSK), and in partnership with Quest Diagnostics, we have curated detailed information about common cancer
          genes
          and their alterations, using diverse sources such as FDA-, NCCN- and other guidelines, ClinicalTrials.gov and
          the scientific literature. For each variant, the biological effect, prevalence and prognostic information, as
          well as treatment implications and available clinical trials were collected in a tumor type-specific way.
          Treatment information was classified by <a href="#/levels">level of
            evidence</a>, ranging from standard of care to investigational or hypothetical treatments.</p>

        <img src="resources/images/poster.png" style="width:100%" />
      </div>
    </div>
  </div>
</div>
