<div class="container" id="level1">
  <div class="actionable-genes">
    <div ng-repeat="level in data.levels">
      <div class="col-md-12 align-style">
        <div>
          <div style="float:left"><h2 class="{{level.titleStyleClass}}">Level {{level.title}}</h2></div>
          <div style="float:left;margin-top:5px;margin-left:15px"><h3>{{level.description}}: {{level.numOfGenes}}
            Genes,
            {{level.numOfAlterations}} Alterations</h3></div>
        </div>
      </div>
      <div class="col-md-12" ng-if="!status.loading.level[level.key]">
        <table datatable="ng" class="row-border hover"
               dt-options="actionableGenesDT.dtOptions"
               dt-columns="actionableGenesDT.dtColumnDefs">
          <thead>
          <tr>
            <th>Gene</th>
            <th>Alterations</th>
            <th>Disease</th>
            <th>Drugs</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="x in level.treatments">
            <td ng-click="clickGene(x.gene)">{{x.gene}}</td>
              <td class="alteration" ng-bind-html="getAlterationsLink(x.gene, x.alterations)"></td>
            <td>{{x.disease}}</td>
            <td>{{x.drugs}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 loading-div" ng-show="!!status.loading.level[level.key]">
        <img src="resources/images/loader.gif">
      </div>
    </div>
  </div>
</div>


