<div class="container">
  <div class="data-access">
    <div class="header">
      <h3 class="title">OncoKB Data Download</h3>
      <div class="top-download">
        <a class="btn btn-sm download waves-effect waves-light" ng-href="{{apiLink}}utils/allAnnotatedVariants.txt"
           download><i
          class="fa  fa-cloud-download"></i> All Variants</a>
        <a class="btn btn-sm download waves-effect waves-light" ng-href="{{apiLink}}utils/allActionableVariants.txt"
           download><i
          class="fa  fa-cloud-download"></i> Actionable Variants</a>
      </div>
      <h3 class="title">OncoKB API</h3>
      <div>
        <span class="swagger"><a ng-href="{{swaggerUrl}}" target="_blank">Swagger URL: {{swaggerUrl}}</a></span>
      </div>
    </div>
    <div class="swagger" swagger-ui url="swaggerUrl" api-explorer="true"></div>
  </div>
</div>
