<div class="container">
    <div class="data-access">
        <div class="header">
            <h5>By using OncoKB data, you are agreeing to the OncoKB <a href="#/terms"><u>usage
                terms</u></a>.</h5>
            <h3 class="title">Annotating Your Files</h3>
            <div>You can annotate your data files (mutations, copy number alterations, fusions, and clinical data) with
                <a href="https://github.com/oncokb/oncokb-annotator" target="_blank">OncoKB Annotator</a>.
            </div>
            <h3 class="title">Data Download</h3>
            <div>OncoKB annotations are fully available for download. Please review the <a href="terms"><u>usage
                terms</u></a> before downloading. Previous versions are available <a
                href="https://github.com/oncokb/oncokb-public/tree/master/data" target="_blank">here</a>.
            </div>
            <div ng-bind-html="data.citationURL" style="margin-bottom: 10px"></div>
            <div class="top-download">
                <a class="btn btn-sm download waves-effect waves-light"
                   ng-href="{{apiLink}}utils/allCuratedGenes.txt"
                   download><i
                    class="fa  fa-cloud-download"></i> All Curated Genes</a>
                <a class="btn btn-sm download waves-effect waves-light"
                   ng-href="{{apiLink}}utils/allAnnotatedVariants.txt"
                   download><i
                    class="fa  fa-cloud-download"></i> All Curated Alterations</a>
                <a class="btn btn-sm download waves-effect waves-light"
                   ng-href="{{apiLink}}utils/allActionableVariants.txt"
                   download><i
                    class="fa  fa-cloud-download"></i> Actionable Alterations</a>
            </div>
        </div>
    </div>
</div>
