<div class="container">
  <div class="genes">
    <table datatable="ng" dt-options="dt.dtOptions" dt-columns="dt.dtColumnDefs"
           class="table row-border hover gened-table">
      <thead>
      <tr>
        <th>Gene</th>
        <th>Highest Level of Evidence</th>
        <th># of Variants</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="gene in meta.genes">
        <td ng-click="clickGene(gene.gene)">{{gene.gene}}</td>
        <td>{{gene.level}}</td>
        <td>{{gene.altNum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
