<div class="container">
  <div class="level-page">
    <div class="floatRight" id="levelDownload">
      <a class="btn btn-sm waves-effect waves-light" href="resources/files/LevelOfEvidences.ppt" download><i
        class="fa  fa-cloud-download"></i> Download Slide</a>
      <a class="btn btn-sm waves-effect waves-light" href="resources/files/LevelOfEvidences.pdf" download><i
        class="fa  fa-cloud-download"></i> Download PDF</a>
    </div>

    <img  class="responsive-img" src="resources/images/level.jpg">
    <br/>
  </div>
</div>
