<div class="container">
  <div class="level-page">
    <div class="float-right" id="levelDownload">
      <a class="btn btn-sm download waves-effect waves-light" target="_self" href="resources/files/LevelsOfEvidence.ppt" download><i
        class="fa  fa-cloud-download"></i> Download Slide</a>
      <a class="btn btn-sm download waves-effect waves-light" target="_self" href="resources/files/LevelsOfEvidence.pdf" download><i
        class="fa  fa-cloud-download"></i> Download PDF</a>
    </div>

    <img  class="responsive-img" src="resources/images/level.jpg">
    <br/>
  </div>
</div>
