<div class="container">
  <div class="level-page" style="display: flex; flex-direction: column;">
    <div id="levelDownload" style="display: flex; justify-content: flex-end">
      <a style="margin-right: 10px;" class="btn btn-primary btn-sm download" target="_self" href="resources/files/LevelsOfEvidence.ppt" download><i
        class="fa  fa-cloud-download"></i> Download Slide</a>
      <a class="btn btn-primary btn-sm download" target="_self" href="resources/files/LevelsOfEvidence.pdf" download><i
        class="fa  fa-cloud-download"></i> Download PDF</a>
    </div>

    <img  class="responsive-img" src="resources/images/level.jpg">
    <br/>
  </div>
</div>
