<div class="container">
    <div class="license">

        <div class="row">
            <div class="col-lg-12">
                <h2>Usage Terms</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    OncoKB is a precision oncology knowledge base maintained by Memorial Sloan Kettering Cancer Center
                    (MSK). MSK reserves the right to update http://oncokb.org at any time without notice. MSK makes no
                    warranties or representations, express or implied, with respect to any of the content, including as
                    to the present accuracy, completeness, timeliness, adequacy, or usefulness of any of the content,
                    and by using this website you agree that MSK will not be liable for any loss or damages arising from
                    your use of or reliance on information contained in this site or other sites that may be linked to
                    from our site. This information is not intended as a substitute for medical professional help or
                    advice. A physician should always be consulted for any health problem or medical condition.
                    Inquiries about the content should be directed to
                    <a href="mailto:info@oncokb.org" target="_top">info@oncokb.org</a>.
                </p>

                <p>
                    You may view the content contained on http://oncokb.org solely for your own personal or research
                    purposes. You may not use any part of the <a href="http://oncokb.org">http://oncokb.org</a> content
                    (“Content”) for any commercial purpose, including the distribution, licensing or sale of the Content
                    to any other person or entity, whether alone or in combination with other materials, or the
                    incorporation of the Content into any commercial product. You may copy, reproduce, or create
                    derivative works of the Content only if:
                <ul>
                    <li>you are a researcher or a non-profit entity; <span class="highlight">and</span></li>
                    <li>your use of the Content complies with all of the following requirements:
                        <ul>
                            <li>you are using the Content for personal or research purposes only; <span
                                class="highlight">and</span></li>
                            <li>you are using the Content only to replicate OncoKB locally, whether in whole or in part;
                                <span class="highlight">or</span>
                            </li>
                            <li>you are aggregating the Content with other data of similar nature for the purposes of
                                advancing cancer research. You must credit the source and reference these usage terms.
                            </li>
                        </ul>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
