<div class="container">
  <div class="license">

    <div class="row">
      <div class="col-lg-12">
        <h2>Usage Terms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          OncoKB is a precision oncology knowledge base maintained by Memorial Sloan Kettering Cancer Center (MSK). MSK
          reserves the right to update http://oncokb.org at any time without notice. MSK makes no warranties or
          representations, express or implied, with respect to any of the content, including as to the present accuracy,
          completeness, timeliness, adequacy, or usefulness of any of the content, and by using this website you agree
          that MSK will not be liable for any loss or damages arising from your use of or reliance on information
          contained in this site or other sites that may be linked to from our site. This information is not intended as
          a substitute for medical professional help or advice but is to be used as an aid in understanding current
          medical knowledge. A physician should always be consulted for any health problem or medical condition.
          Inquiries about the content should be directed to
          <a href="mailto:info@oncokb.org" target="_top">info@oncokb.org</a>.
        </p>

        <p>
          You may view the content contained on http://oncokb.org solely for your own personal or research purposes. You
          may not copy, transfer, reproduce, modify, or create derivative works of any part of the http://oncokb.org
          content for any reason and you may not distribute, license or sell the content, alone or in combination with
          other materials, to any other person or entity, without the express written permission of MSK.
        </p>
      </div>
    </div>
  </div>
</div>
