<div class="container">
  <div class="license">

    <div class="row">
      <div class="col-lg-12">
        <h2>Terms of Use</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Knowledge Systems group in the <a
          href="https://www.mskcc.org/research-areas/programs-centers/molecular-oncology">Marie Josée and Henry R.
          Kravis Center for Molecular Oncology</a> at Memorial Sloan Kettering Cancer Center (MSK) reserves the right to
          update oncokb.org at any time without notice. Although the MSK intends to make reasonable efforts to keep the
          content current on oncokb.org, MSK makes no warranties or representations, express or implied, with respect to
          any of the content, including as to the present accuracy, completeness, timeliness, adequacy, or usefulness of
          any of the content and MSK will not be liable for any loss or damages arising from your use of or reliance on
          information contained in this site or other sites that may be linked to from our site. You may view the
          content contained on oncokb.org solely for your own personal, non-commercial purposes. You may not copy,
          transfer, reproduce, modify, or create derivative works of any part of the oncokb.org content for any reason
          and you may not use the oncokb.org content for any commercial purpose (e.g., you may not distribute, license
          or sell the content, alone or in combination with other materials, to any other person or entity) without the
          express written permission of MSK. For commercial licensing inquiries, please contact us at team@oncokb.org.
        </p>
      </div>
    </div>
  </div>
</div>
