<div class="container">
  <div class="main-oncokb-header">
    <div class="logo">
      <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6 grid">
          <div class="logo-wrapper">
            <img src="resources/images/oncokb.png"/>
          </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
      </div>
    </div>
    <div class="tag-line">
      <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
          <span class="level-1">Precision Oncology Knowledge Base</span>
        </div>
        <div class="col-lg-3 col-md-3"></div>
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-lg-2 col-md-2"></div>-->
    <!--<div class="col-lg-8 col-md-6">-->
    <!--<p><a ng-href="/genes" target="_self">418 genes</a>, 4670 alterations, 60 tumor types, 1000 drugs </p>-->
    <!--</div>-->
    <!--<div class="col-lg-2 col-md-2"></div>-->
    <!--</div>-->
    <div class="number">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 has-inside-grid">
          <div class="col-lg-3 col-md-3 col-sm-6 col-md-6">
            <div class="item"><span class="number gene"><a href="/cancerGenes">{{content.main.gene}}</a></span><br/><span
              class="category">Genes</span></div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-md-6">
            <div class="item"><span class="number">{{content.main.alteration}}</span><br/><span class="category">Alterations</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-md-6">
            <div class="item"><span class="number">{{content.main.tumorType}}</span><br/><span class="category">Tumor Types</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-md-6">
            <div class="item"><span class="number">{{content.main.drug}}</span><br/><span
              class="category">Drugs</span></div>

          </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            <search-box></search-box>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
    <div class="levels">
      <div class="row">
        <div class="col-md-12 has-inside-grid">
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <main-level level="'1'" gene-count="getGeneCountForLevel('1')" class="'level-1'" desc="'FDA-approved'"></main-level>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <main-level level="'2'" gene-count="getGeneCountForLevel('2')" class="'level-2'" desc="'Standard care'"></main-level>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <main-level level="'3'" gene-count="getGeneCountForLevel('3')" class="'level-3'" desc="'Clinical evidence'"></main-level>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <main-level level="'4'" gene-count="getGeneCountForLevel('4')" class="'level-4'" desc="'Biological evidence'"></main-level>
          </div>
            <div class="col-lg-2 col-sm-6 col-xs-12">
                <main-level level="'R1'" gene-count="getGeneCountForLevel('R1')" class="'level-R1'" desc="'Standard care'"></main-level>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-12">
                <main-level level="'R2'" gene-count="getGeneCountForLevel('R2')" class="'level-R2'" desc="'Clinical evidence'"></main-level>
            </div>
        </div>
      </div>
    </div>
      <div class="citation row">
          <span ng-bind-html="data.citationURL"></span>
      </div>
  </div>
</div>
