<setction>
  <div class="container">
    <div class="main-oncokb-header">
      <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
          <div class="logo-wrapper">
            <img src="resources/images/oncokb-lg_orange.png"/>
          </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
          <p> Precision Oncology Knowledge Base</p>
        </div>
        <div class="col-lg-3 col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-6">
          <p><a ng-href="#/genes" target="_self">418 genes</a>, 4670 variants, 60 tumor types, 1000 drugs </p>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 main-search">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Search Gene">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <!--<input type="search" placeholder="Search Gene"/>-->
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 main-search">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <main-level level="1"></main-level>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <main-level level="'2A'"></main-level>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <main-level level="'3A'"></main-level>
            </div>
            <!--<div class="col-lg-3 col-md-3">-->
            <!--<main-level level="4"></main-level>-->
            <!--</div>-->
          </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>

    </div>
  </div>
  </div>
</setction>
<setction>
  <div class="container">
    <div id="canvas-container">
      <canvas id="wordCloud"></canvas>
      <div id="canvas-hover" hidden>
        <b id="canvas-hover-label">{{content.hoveredGene}} has {{content.hoveredCount}} variants annotated.
          <br/><span
            ng-show="content.hoveredHighestLevel">Highest level of evidence: Level {{content.hoveredHighestLevel}}</span></b>
      </div>
      <div class="word-cloud-hint">Genes are color-coded by <a href="#/levels">level of evidence</a>, and the size of
        the
        gene label is proportional to the number of annotated variants.<br/>
        Click on a gene symbol to get more information.
      </div>
    </div>
  </div>
</setction>
