<div class="container">
    <div class="news">
        <div>
            <p>
                While we aim to keep the information up to date and correct, there will inevitably be gaps or mistakes.
                Please
                help us to identify any issues by <b>sending an email to</b> <a
                href="mailto:contact@oncokb.org?subject=OncoKB Feedback">contact@oncokb.org</a>, or use the feedback
                button that
                appears next to alterations in cBioPortal.
            </p>
            <p>
                <b>Stay tuned</b> for future data updates (improved annotations, new alterations), as well as new
                features.
                You can
                follow us on Twitter (<a href="https://twitter.com/OncoKB" target="_blank">@OncoKB</a>) or subscribe to
                our <b><a
                data-toggle="modal" data-target="#myModal" href="">low-volume email list</a></b> for updates.
            </p>
            <p ng-bind-html="data.citationURL"></p>
        </div>
        <h3>October 26, 2018</h3>
        <div>
            <ul>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['10262018']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>Inclusion of Level R2 actionable alterations in Actionable Genes <a href="#/gene/ALK">ALK</a>, <a
                    href="#/gene/EGFR">EGFR</a>, and <a href="#/gene/MET">MET</a> in non-small
                    cell lung cancer (NSCLC) and <a href="#/gene/KIT">KIT</a> in gastrointestinal stromal tumors (GIST)
                </li>
                <li>OncoTree updated from version <a target="_blank"
                                                        href="http://oncotree.mskcc.org/#/home?version=oncotree_2017_06_21">2017_06_21</a>
                    to version <a target="_blank"
                                  href="http://oncotree.mskcc.org/#/home?version=oncotree_2018_06_15">2018_06_15</a>

                </li>
                <li>Addition of {{data.newlyAddedGenes['10262018'].lenth}} new heme-associated genes:
                    <div class="newly-added-genes">
                        <span class="gene" ng-repeat="hugo in data.newlyAddedGenes['10262018']"><a
                            href="#/gene/{{hugo}}">{{hugo}}</a></span>
                    </div>
                </li>
                <li>OncoKB is monitoring the following drugs that were granted <a target="_blank"
                                                                                  href="https://www.fda.gov/forpatients/approvals/fast/ucm405397.htm">Breakthrough
                    Therapy</a> designation by the
                    FDA:
                    <ul class="bullet" style="margin-top: 10px">
                        <li>Oct 2, 2018: <a target="_blank"
                                            href="https://www.onclive.com/web-exclusives/fda-grants-rucaparib-breakthrough-designation-for-mcrpc">
                            Rucarparib in adult patients with BRCA1/2-positive metastatic castration-resistant disease
                            following at least 1 androgen receptor–directed therapy and taxane-based chemotherapy.</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <h3>October 1, 2018</h3>
        <div>
            <ul>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['10012018']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>Addition of 27 new heme-associated genes:
                    <div class="newly-added-genes">
                        <span class="gene" ng-repeat="hugo in data.newlyAddedGenes['10012018']"><a
                            href="#/gene/{{hugo}}">{{hugo}}</a></span>
                    </div>
                </li>
                <li>OncoKB is monitoring the following drugs that were granted <a target="_blank"
                                                                                  href="https://www.fda.gov/forpatients/approvals/fast/ucm405397.htm">Breakthrough
                    Therapy</a> designation by the
                    FDA:
                    <ul class="bullet" style="margin-top: 10px">
                        <li>Sept 5, 2018: <a target="_blank"
                                             href="https://www.onclive.com/web-exclusives/fda-grants-loxo292-breakthrough-designation-for-nsclc-mtc">
                            LOXO-292 for RET fusion–positive non–small cell lung cancer (NSCLC) or RET-mutant medullary
                            thyroid cancer (MTC)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <h3>August 20, 2018</h3>
        <div>
            <ul>
                <li>OncoKB now contains over 4000 curated alterations in over 500 genes.</li>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['08172018']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>Addition of 42 new heme-associated genes:
                    <div class="newly-added-genes">
                        <span class="gene" ng-repeat="hugo in data.newlyAddedGenes['08172018']"><a
                            href="#/gene/{{hugo}}">{{hugo}}</a></span>
                    </div>
                </li>
                <li>Incorporation of positional variants (e.g., BRAF V600) into Actionable Genes table.</li>
                <li>Updated layout of Actionable Genes table.</li>
                <li>OncoKB is monitoring the following drugs that were granted <a target="_blank"
                                                                                  href="https://www.fda.gov/forpatients/approvals/fast/ucm405397.htm">Breakthrough
                    Therapy</a> designation by the
                    FDA:
                    <ul class="bullet" style="margin-top: 10px">
                        <li>August 6, 2018: <a target="_blank" href="http://www.ascopost.com/News/59131">Lenvatinib Plus
                            Pembrolizumab in non-MSI-H Endometrial Carcinoma</a></li>
                        <li>August 7, 2018: <a target="_blank" href="http://www.ascopost.com/News/59138">Quizartinib for
                            Relapsed/Refractory FLT3-ITD AML</a></li>
                        <li>August 14, 2018: <a target="_blank" href="http://www.ascopost.com/News/59160">Encorafenib
                            Plus Binimetinib and Cetuximab in BRAFV600E–Mutant Metastatic Colorectal Cancer</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <h3>July 12, 2018</h3>
        <div>
            <ul>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['07122018']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>New Level 4 associations have been added:
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-2">GENE</th>
                            <th class="col-lg-5 col-sm-4 col-xs-4">MUTATION</th>
                            <th class="col-lg-2 col-sm-2 col-xs-3">TUMOR TYPE</th>
                            <th class="col-lg-4 col-sm-4 col-xs-3">DRUG</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in data.newlyAddedLevelFour">
                                <td>{{item.gene}}</td>
                                <td>{{item.mutation}}</td>
                                <td>{{item.tumorType}}</td>
                                <td>{{item.drug}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>Inclusion of Level R1 actionable alterations in Actionable Genes</li>
            </ul>
        </div>
        <h3>February 2, 2018</h3>
        <div>
            <ul>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['02022018']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>Addition of a new gene: KLF5 (<a target="_blank"
                                                     href="https://www.ncbi.nlm.nih.gov/pubmed/28963353">Zhang et al.,
                    Cancer Discovery, 2017</a>).
                </li>
                <li>Addition of new alterations and updates to existing alterations.</li>
            </ul>
        </div>
        <h3>October 26, 2017</h3>
        <div>
            <ul>
                <li>Updates to Levels of Evidence 3A and 4.</li>
                <li>Mutation frequency plots are now calculated based on <a target='_blank'
                                                                            href='http://www.cbioportal.org/study?id=msk_impact_2017#summary'>MSK-IMPACT
                    Clinical Sequencing Cohort</a> (<a href='https://www.ncbi.nlm.nih.gov/pubmed/28481359'
                                                       target='_blank'>Zehir
                    et al., Nature Medicine, 2017</a>).
                </li>
            </ul>
        </div>
        <h3>August 17, 2017</h3>
        <div>
            <h5>The following FDA-approvals have been incorporated into the Actionable Genes table:</h5>
            <ul>
                <li>August 1, 2017: <a target="_blank"
                                       href="https://www.fda.gov/Drugs/InformationOnDrugs/ApprovedDrugs/ucm569366.htm">the
                    FDA approved nivolumab</a> for treatment of patients with mismatch repair deficient
                    (MMR-D) and <a href="#/gene/Other Biomarkers/alteration/MSI-H">microsatellite instability high
                        (MSI-H)</a> metastatic colorectal cancer that has progressed
                    following treatment with a fluoropyrimidine, oxaliplatin and irinotecan.
                </li>
                <li>August 1, 2017: <a target="_blank"
                                       href="https://www.fda.gov/Drugs/InformationOnDrugs/ApprovedDrugs/ucm569482.htm">the
                    FDA approved enasidenib</a> for treatment of patients with relapsed or refractory
                    <a href="#/gene/IDH2">IDH2-mutant</a> Acute Myeloid Leukemia (AML).
                </li>
                <li>June 22, 2017: <a target="_blank"
                                      href="https://www.fda.gov/Drugs/InformationOnDrugs/ApprovedDrugs/ucm564331.htm">the
                    FDA approved combination dabrafenib + trametinib</a> for treatment of patients with
                    <a href="#/gene/BRAF/alteration/V600E">BRAF V600E</a> mutant metastatic NSCLC.
                </li>
                <li>May 23, 2017: <a target="_blank"
                                     href="https://www.fda.gov/Drugs/InformationOnDrugs/ApprovedDrugs/ucm560040.htm">the
                    FDA approved pembrolizumab</a> for treatment of patients with unresectable or
                    metastatic, <a href="#/gene/Other Biomarkers/alteration/MSI-H">microsatellite instability-high
                        (MSI-H)</a> or mismatch repair deficient (MMR-D) solid
                    tumors.
                </li>
            </ul>
        </div>
        <h3>August 2, 2017</h3>
        <div>
            <ul>
                <li>Introduced a curated list of <a href="#/cancerGenes" class="">cancer genes</a>.
                </li>
                <li>Addition of gene-alterations pages with alteration level annotation. <a
                    href="#/gene/BRAF/alteration/V600E"
                    target="_blank">e.g. BRAF
                    V600E</a>.</span>
                </li>
                <li>
                    <span
                        style="margin-left: -4px;">Improved search box that queries genes and alterations.</span><br/>
                    <div class="row">
                        <img src="resources/images/search_advanced_1.png" class="col-lg-6 col-sm-8 col-xs-12">
                    </div>
                    <div class="row">
                        <img src="resources/images/search_advanced_2.png" class="col-lg-6 col-sm-8 col-xs-12">
                    </div>
                </li>
            </ul>
        </div>
        <h3>May 15, 2017</h3>
        <div>
            <ul>
                <li>Brigatinib FDA-approval in ALK-positive NSCLC added as a new Level 1 association.</li>
                <li>Amplification events for most Oncogenes and Deletions or Truncating mutations for most Tumor
                    Suppressor have been annotated/updated.
                </li>
                <li>Inclusion of literature from AACR 2017.</li>
                <li>Addition of new alterations and updates to existing alteration annotations.</li>
            </ul>
        </div>
        <h3>April 5, 2017</h3>
        <div>
            <ul>
                <li>Curation of 58 additional genes.</li>
                <li>
                    <span
                        style="margin-left: -4px;">Gene alias information added to gene page and search box.</span><br/>
                    <div class="row">
                        <img src="resources/images/ERBB.png" class="col-lg-6 col-sm-8 col-xs-12">
                    </div>
                </li>
                <li>API updates.</li>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['04052017']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <h3>March 7, 2017</h3>
        <div>
            <ul>
                <li>Expanded selection of genes with Oncogene or Tumor Suppressor annotation.</li>
                <li>Level 4 actionable genes are now accessible from the home page.</li>
                <li>Updated Actionable Genes
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th class="col-lg-1 col-sm-2 col-xs-3">Level</th>
                            <th class="col-lg-11 col-sm-10 col-xs-9">Update</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in data.updatedActionableGenes['03072017']">
                                <td>{{key}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="item in value"><span ng-bind-html="item"></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <h3>December 29, 2016</h3>
        <div>
            <ul>
                <li>Level 3 and 4 alterations supported by data from conference proceedings are now included in the
                    Actionable Genes tab.
                </li>
            </ul>
        </div>
        <h3>November 22, 2016</h3>
        <div>
            <ul>
                <li>All OncoKB alterations and their annotations can now be <a href="#/dataAccess"> batch downloaded or
                    accessed programmatically via our API.</a></li>
                <li>Oncogene and tumor suppressor gene annotations have been added.</li>
                <li>Alterations with inconclusive supporting data have now been included.</li>
            </ul>
        </div>
        <h3>October 24, 2016</h3>
        <div>
            <ul>
                <li>Inclusion of a selection of Level 4 associations in the Actionable Genes tab.</li>
                <li>KRAS activating mutations are no longer considered Level 3A based on the completion of the SELECT-1
                    trial.
                    Despite promising initial results, selumetinib did not have a significant effect on survival, and
                    therefore
                    activating KRAS mutations are now considered Level 4.
                </li>
            </ul>
        </div>
        <h3>September 16, 2016</h3>
        <div>
            <ul>
                <li>Updated Actionable Genes.</li>
            </ul>
        </div>
        <h3>August 10, 2016</h3>
        <div>
            <ul>
                <li>
                    <span style="margin-left: -4px;">Improved visualization of OncoKB in cBioPortal:</span><br/>
                    <div class="row">
                        <img src="resources/images/cbioportal-clinical.png" class="col-md-5 col-sm-6 col-xs-12">
                        <img src="resources/images/cbioportal-biological.png" class="col-md-5 col-sm-6 col-xs-12">
                    </div>
                </li>
                <li>Updated genes and alterations in the tables of Levels 1, 2 and 3 Actionable Genes.</li>
                <li>Updated Levels of Evidence.</li>
            </ul>
        </div>
        <h3>July 6, 2016</h3>
        <div>
            <h5>Improved clinical annotations:</h5>
            <ul>
                <li>Annotations for Level 1, 2 and 3 genes now include key updates from ASCO 2016.</li>
                <li>The Levels of Evidence system now includes Level R1, comprising of alterations that are
                    NCCN-compendium
                    listed
                    as a biomarker of resistance to an FDA-approved drug.
                </li>
            </ul>
        </div>
        <h3>June 6, 2016</h3>
        <p>
            We are happy to announce the <b>first release of OncoKB</b>, a knowledge base for precision medicine. Our
            goal is
            to comprehensively annotate the oncogenic effect of mutations observed in cancer, as well as their
            therapeutic
            implications.
            This release contains information about almost 3,000 alterations in 418 cancer genes. For each alteration,
            we
            categorize the biological and clinical effect, along with citations of the source of the information, and,
            when
            available, the therapeutic implications of a alteration. We have focussed on FDA-approved (Level 1) or
            guideline-listed (Level 2) biomarkers, as well as biomarkers that with clinical evidence for sensitivity and
            for
            which therapies are currently explored in clinical trials (Level 3). See the Levels of Evidence and
            Actionable
            Genes pages for more information.
        </p>
        <p>
            We have also <b>integrated information from OncoKB into the cBioPortal for Cancer Genomics</b>. When
            exploring
            alterations in <a href="http://www.cbioportal.org/" target="_blank">cbioportal.org</a>, you will see
            annotations from
            OncoKB when available.
            <a href="http://www.cbioportal.org/case.do?cancer_study_id=luad_tcga_pub&sample_id=TCGA-49-4494-01"
               target="_blank">Example of a lung cancer case.</a></span>
        </p>
    </div>


    <div class="modal fade bgStyle" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">

                    <form action="http://groups.google.com/group/oncokb-news/boxsubscribe" target="_blank">
                        <b>Sign up for low-volume email news alerts:</b>
                        <input type="text" name="email" placeholder="your email address">
                        <input type="submit" class="btn btn-default" name="sub" value="Subscribe">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>


