<div class="container">
  <div class="team">
    <div class="row">
      <div class="col-lg-12">
        <h2>OncoKB Team</h2>
        <p>
          OncoKB is developed and maintained by the Knowledge Systems group in the <a
          href="https://www.mskcc.org/research-areas/programs-centers/molecular-oncology">Marie Josée
          and Henry R. Kravis Center for Molecular Oncology</a> at Memorial Sloan Kettering Cancer Center.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Design &amp; Development</h5>
        <ul>
          <li>Debyani Chakravarty, PhD</li>
          <li>Jianjiong Gao, PhD</li>
          <li>Sarah Phillips, PhD</li>
          <li>Hongxin Zhang, MSc</li>
          <li>Ritika Kundra, MSc</li>
          <li>Jiaojiao Wang, MSc</li>
          <li>Ederlinda Paraiso, MPA</li>
          <li>Julia Rudolph, MPA</li>
          <li>David Solit, MD</li>
          <li>Paul Sabbatini, MD</li>
          <li>Nikolaus Schultz, PhD</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Clinical Genomics Annotation Committee</h5>
        <ul>
          <li>Shrujal Baxi, MD, MPH</li>
          <li>Margaret Callahan, MD, PhD</li>
          <li>Sarat Chandarlapaty, MD, PhD</li>
          <li>Alexandra Charen-Snyder, MD</li>
          <li>Ping Chi, MD, PhD</li>
          <li>Daniel Danila, MD</li>
          <li>Mrinal Gounder, MD</li>
          <li>James Harding, MD</li>
          <li>Matthew Hellman, MD</li>
          <li>Alan Ho, MD, PhD</li>
          <li>Gopa Iyer, MD</li>
          <li>Yelena Janjigian, MD</li>
          <li>Thomas Kaley, MD</li>
          <li>Douglas Levine, MD, FACOG, FACS</li>
          <li>Maeve Lowery, MD</li>
          <li>Antonio Omuro, MD</li>
          <li>Paul Paik, MD</li>
          <li>Michael Postow, MD</li>
          <li>Dana Rathkopf, MD</li>
          <li>Alexander Shoushtari, MD</li>
          <li>Neerav Shukla, MD</li>
          <li>Tiffany Traina, MD</li>
          <li>Martin Voss, MD</li>
          <li>Rona Yaeger, MD</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Core Curators</h5>
        <ul>
          <li>Moriah Nissan, PhD</li>
          <li>Lindsay Saunders, PhD</li>
          <li>Tara Soumerai, MD</li>
          <li>Fiona Brown, PhD</li>
          <li>Tripti Shrestha Bhattarai, PhD</li>
          <li>Kinisha Gala, BSc</li>
          <li>Aphrothiti Hanrahan, PhD</li>
          <li>Anton Henssen, MD</li>
          <li>Phillip Jonsson, PhD</li>
          <li>Iñigo Landa-Lopez, PhD</li>
          <li>Eneda Toska, PhD</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Quest Diagnostics</h5>
        <ul>
          <li>Feras M Abu Hantash, PhD</li>
          <li>Andrew Grupe, PhD</li>
          <li>Matthew Beer, BSc</li>
        </ul>
      </div>
    </div>
  </div>
</div>
