<div class="container">
  <div class="team">
    <div class="row">
      <div class="col-lg-12">
        <h2>OncoKB Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Design &amp; Development</h5>
        <ul>
          <li>Debyani Chakravarty</li>
          <li>Jianjiong Gao</li>
          <li>Sarah Philips</li>
          <li>Hongxin Zhang</li>
          <li>Ritika Kundra</li>
          <li>Jiaojiao Wang</li>
          <li>Ederlinda Paraiso</li>
          <li>Julia Rudolph</li>
          <li>David Solit</li>
          <li>Paul Sabbatini</li>
          <li>Nikolaus Schultz</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Clinical Annotation Committee</h5>
        <ul>
          <li>Shrujal Baxi</li>
          <li>Margaret Callahan</li>
          <li>Sarat Chandarlapaty</li>
          <li>Alexandra Charen-Snyder</li>
          <li>Ping Chi</li>
          <li>Daniel Danila</li>
          <li>Mrinal Gounder</li>
          <li>James Harding</li>
          <li>Matthew Hellman</li>
          <li>Alan Ho</li>
          <li>Gopa Iyer</li>
          <li>Yelena Janjigian</li>
          <li>Thomas Kaley</li>
          <li>Douglas Levine</li>
          <li>Maeve Lowery</li>
          <li>Antonio Omuro</li>
          <li>Paul Paik</li>
          <li>Micheal Postow</li>
          <li>Dana Rathkopf</li>
          <li>Alexander Shoushtari</li>
          <li>Neal Shukla</li>
          <li>Tiffany Traina</li>
          <li>Martin Voss</li>
          <li>Rona Yaeger</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Main Curators</h5>
        <ul>
          <li>Moriah Nissan</li>
          <li>Lindsay Saunders</li>
          <li>Tara Soumerai</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h5>Quest Diagnostics</h5>
        <ul>
          <li>Feras M Abu Hantash</li>
          <li>Andrew Grupe</li>
          <li>Matthew Beer</li>
        </ul>
      </div>
    </div>
  </div>
</div>
