<div class="team">
  <table>
    <tr>
      <td><h2>About OncoKB</h2></td>
    </tr>

    <tr>
      <td>OncoKB is a knowledgebase for the oncogenic effects and treatment implications of cancer gene alterations.

        With a network of clinical and research fellows, faculty members at Memorial Sloan Kettering Cancer Center
        (MSK), and in partnership with Quest Diagnostics, we have curated detailed information about common cancer genes
        and their alterations, using diverse sources such as FDA-, NCCN- and other guidelines, ClinicalTrials.gov and
        the scientific literature. For each variant, the biological effect, prevalence and prognostic information, as
        well as treatment implications and available clinical trials were collected in a tumor type-specific way.
        Treatment information was classified by <a href="http://cbio.mskcc.org/~hongxin/oncokb/#/levels">level of
          evidence</a>, ranging from standard of care to investigational or hypothetical treatments.
      </td>
    </tr>
  </table>
</div>

<div class="team">
  <table>
    <tr>
      <td><h2>OncoKB Team</h2></td>
    </tr>
    <tr>
      <td><b>Design &amp; Development</b></td>
      <td><b>Clinical Annotation Committee</b></td>
      <td><b>Main Curators</b></td>
      <td><b>Quest Diagnostics</b></td>
    </tr>
    <tr>
      <td>Debyani Chkravarty</td>
      <td>Shrujal Baxi</td>
      <td>Moriah Nissan</td>
      <td>Feras M Abu Hantash</td>
    </tr>
    <tr>
      <td>JianJiong Gao</td>
      <td>Margaret Callahan</td>
      <td>Lindsay Saunders</td>
      <td>Andrew Grupe</td>
    </tr>
    <tr>
      <td>Sarah Phillips</td>
      <td>Sarat Chandarlapaty</td>
      <td>Tara Soumerai</td>
      <td>Matthew Beer</td>
    </tr>
    <tr>
      <td>Hongxin Zhang</td>
      <td>Alexandra Charen-Snyder</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ritika Kundra</td>
      <td>Ping Chi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Jiaojiao Wang</td>
      <td>Daniel Danila</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ederlinda Paraiso</td>
      <td>Mrinal Gounder</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Julia Rudolph</td>
      <td>James Harding</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>David Solit</td>
      <td>Matthew Hellman</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Paul Sabbatini</td>
      <td>Alan Ho</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Nikolaus Schultz</td>
      <td>Gopa Iyer</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Yelena Janjigian</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Thomas Kaley</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Douglas Levine</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Maeve Lowery</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Antonio Omuro</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Paul Paik</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Micheal Postow</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Dana Rathkopf</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Alexander Shoushtari</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Neal Shukla</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Tiffany Traina</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Martin Voss</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Rona Yaeger</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
