name: Build/Push docker image and tag the release in sentry
on:
  release:
    types: [published]
jobs:
  main:
    if: github.repository == 'oncokb/oncokb-public'
    name: Build and Push
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 12.16.1
      SPRING_OUTPUT_ANSI_ENABLED: DETECT
      SPRING_JPA_SHOW_SQL: false
      JHI_DISABLE_WEBPACK_LOGS: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.16.1
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Install node.js packages
        run: yarn install
      - name: Package application with Jib
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
          TAG_NAME: ${{ github.event.release.tag_name }}
          REPOSITORY: ${{ github.repository }}
        run: |
          ./mvnw -ntp package -Pprod verify jib:build \
          -DskipTests \
          -Djib.to.image="${REPOSITORY}:${TAG_NAME}" \
          -Djib.to.auth.username=$DOCKER_USERNAME \
          -Djib.to.auth.password=$DOCKER_PASSWORD
      - name: Create a Sentry.io release in oncokb-public-website
        uses: getsentry/action-release@v1.7.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: memorial-sloan-kettering
          SENTRY_PROJECT: oncokb-public-website
        with:
          version: ${{ github.ref }}
          environment: production
          version_prefix: oncokb-public-
          sourceMapOptions: '{"include": ["target/classes/static/app"]}'
      - name: Create a Sentry.io release in oncokb-public-website-backend
        uses: getsentry/action-release@v1.7.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: memorial-sloan-kettering
          SENTRY_PROJECT: oncokb-public-website-backend
        with:
          version: ${{ github.ref }}
          environment: production
          version_prefix: oncokb-public-backend-
